[2020-01-24 15:11] thduynguyen opened #1 "python/README.md bugs"
1. Small typo in target name:
[code]
Should be
[code]

2. Segfault when running the example in `python/README.md`
[code]

3. Small bug when running `teaserpp_example.py`:
[code]

[2020-01-24 15:17] jingnanshi commented on #1
Hi,

Thanks for the feedback. Will update the target name & example code.

For the seg fault, try running `OMP_NUM_THREADS=12 python teaserpp_example2.py`. I've noticed some issues with segmentation faults in the maximum clique library we are using when the number of threads exceed 12.

[2020-01-24 15:48] jingnanshi commented on #1
The example script is fixed & README has been updated. Let me know if it works!

[2020-01-24 16:01] thduynguyen commented on #1
Thanks for the quick fix! That works. But the example script in README reports different results for different runs and the results are not the ground truth solution. I guess `solver_params.estimate_scaling` must be `True` instead of `False` as in the example?

[2020-01-24 16:04] thduynguyen commented on #1
Confirm it works if I change that setting to `True` to match with the example file.

[2020-01-24 16:04] #1 closed

[2020-01-24 16:04] jingnanshi commented on #1
Yes that's correct. Just updated the README. Good catch!

[2020-01-27 19:29] lucasamparo opened #2 "Documentation"
I can't find the docs on the cmake build folder. Someone could help me?
I used the steps from the README.md

Thanks.

[2020-01-27 19:36] jingnanshi commented on #2
Try these steps:
1. Make a directory called `build` in your cloned repo
2. In the directory, run `cmake ..`
3. After that, you should see a `doc` folder.

[2020-01-27 19:38] lucasamparo commented on #2
[code]

[2020-01-27 19:45] jingnanshi commented on #2
Did you run `make doc` in the `build` folder, or in the `build/doc` folder?

[2020-01-27 19:45] lucasamparo commented on #2
Both. Same results.
[code]

[2020-01-27 19:52] jingnanshi commented on #2
What operating system are you using?

[2020-01-27 19:54] lucasamparo commented on #2
Ubuntu 16.04 LTS

[2020-01-27 19:58] jingnanshi commented on #2
Make sure you have `doxygen` installed, and then run `doxygen` in `build/doc` folder.

[2020-01-27 20:00] lucasamparo commented on #2
[code]

[2020-01-27 20:02] lucasamparo commented on #2
When I ran ```doxygen doc``` at the build folder, created a html folder and place the documentation here....
But, without any content LOL

![image](https://user-images.githubusercontent.com/5599946/73209341-d5d09200-4126-11ea-8653-5f7b96668ebf.png)

[2020-01-27 20:12] jingnanshi commented on #2
Sorry, I can't reproduce the error on my side. What folders are there in your `build` folder after you run `cmake ..`?

[2020-01-27 20:43] nkhedekar commented on #2
I am having the same issue on an Ubuntu 16.04.6 system.

Build folder contents:

[code]

[2020-01-27 20:51] jingnanshi commented on #2
Okay I know what's the problem now. Working on a fix.

[2020-01-27 21:05] jingnanshi commented on #2
Can you guys test whether this branch fixes it: https://github.com/MIT-SPARK/TEASER-plusplus/tree/hotfix/fix-doc ? Thanks

[2020-01-28 00:38] nkhedekar commented on #2
@jingnanshi This works for me. Thank you! :slightly_smiling_face:

[2020-01-28 12:08] lucasamparo commented on #2
It's fine now. Thanks buddy.

[2020-01-28 12:09] lucasamparo commented on #2
Sorry about the delay, I'm from Brazil hehe

[2020-01-28 12:16] lucasamparo commented on #2
I think a Pull-Request could be opened now.

[2020-01-28 13:06] lucasamparo commented on #2
A last question: Have you a CMake example to compile a code using TeaserCPP?

[2020-01-28 14:51] jingnanshi commented on #2
I'll put one in the README. I'll let you know when.

[2020-01-28 15:40] lucasamparo commented on #2
Thanks.

[2020-01-28 16:43] ChristopherLu opened #3 "Segmentation fault on python2.7"
Using the solver parameters given by the tutorial example on my own data, meeting the following error:

`
[pmc heuristic]	 mc = 0
Created adjacency matrix in 1.88351e-05 seconds
[pmc: initial k-core pruning]  before pruning: |V| = 142, |E| = 0
[pmc: initial k-core pruning]  after pruning:  |V| = 142, |E| = 0
[pmc]  initial pruning took 1.28746e-05 sec
[pmc: sorting neighbors]  |E| = 0, |E_sorted|

[2020-01-28 16:45] jingnanshi commented on #3
Try run `OMP_NUM_THREADS=12 python test.py`. The PMC library seems to have seg faults when the number of threads exceed 12

[2020-01-28 16:48] lucasamparo opened #4 "CPP Example, using CMake Compilation"
I've started with the code (using the snippet from README.md) but in the compilation, find an error.

<details>
<summary>CMakeLists.txt</summary>
<pre>
cmake_minimum_required(VERSION 3.10)
set (CMAKE_CXX_STANDARD 11)

project(teaserpp_cpp_example)

find_package(teaserpp REQUIRED)
find_package(Eigen3 REQUIRED)

include_directories(
  ${EIGEN3_INCLUDE_DIR}
  ${teaserpp_INCLUDE_DIR}
)

add_executable

[2020-01-28 16:51] jingnanshi commented on #4
You need to set the standard to at least C++14

[2020-01-28 16:56] lucasamparo commented on #4
Undefined reference now.
I've forgotten some linking?

[2020-01-28 17:08] nkhedekar commented on #2
This might be a personal opinion but can we keep this issue open until the pull request is merged so that others don't have to look for a closed issue?

[2020-01-28 17:08] lucasamparo commented on #2
You're right. Reopening the issue.

[2020-01-28 17:13] jingnanshi commented on #4
Try something like this: `target_link_libraries(test teaserpp::teaser_registration)`
Also, since you are scaling, make sure to use `estimate_scaling=true` in the parameters.

[2020-01-28 17:17] #2 closed

[2020-01-28 17:20] lucasamparo commented on #4
Worked.

The line function solver.getSolution() retrieve a instance of teaserpp::teaser::RegistrationSolution?

[2020-01-28 17:24] jingnanshi commented on #4
Should be just `teaser::RegistrationSolution`. I think I implemented the print function so you should be able to just print it.
 `teaserpp::` is just a CMake namespace, not in the actual code.

[2020-01-28 17:27] lucasamparo commented on #4
I know. Just using the "way" from the documentation. Thanks again.
The code is complete now.

Have you configured some CMake variables from the teaserpp?

[2020-01-28 17:31] jingnanshi commented on #4
No. I use CMake's target-based flow, so just `target_link_libraries(cpp_example teaserpp::teaser_registration)` should be enough.

What variables do you think you need?

[2020-01-28 17:33] lucasamparo commented on #4
Just to keep similar than other libraries, like OpenCV, Eigen or PCL...

Your library looks very very very good, man.

[2020-01-28 17:36] lucasamparo commented on #4
[cpp_example.cpp](https://pastebin.com/FCEbMvEX)
[CMakeLists.txt](https://pastebin.com/3DJUELQ7)

[2020-01-28 17:39] jingnanshi commented on #4
Thanks for the compliment & thanks for posting the examples up!

For now, I'll stick with the target based flow since this library doesn't have a lot of components. But if we add more stuff do it in the future, I'll consider implement something like OpenCV. Thanks for the feedback. I'll close this issue now.

[2020-01-28 17:39] #4 closed

[2020-01-28 17:42] lucasamparo commented on #4
Feel free to use the example in your repository :smile:
The prior results here sounds very good.

"When I'm a grown-up man I want to be just like you."

[2020-01-28 17:48] ChristopherLu commented on #3
Hi,

Did what you suggested, but got new error on pmc upper bound:

`[pmc heuristic]	 mc = 0
Created adjacency matrix in 2.09808e-05 seconds
[pmc: initial k-core pruning]  before pruning: |V| = 117, |E| = 0
[pmc: initial k-core pruning]  after pruning:  |V| = 117, |E| = 0
[pmc]  initial pruning took 1.00136e-05 sec
[pmc: sorting neighbors]  |E| = 0, |E_sorted| = 0
|V| = 117
*** [pmc: thread 12]

[2020-01-28 17:48] ChristopherLu commented on #3
My current setting:

_solver_params = teaserpp_python.RobustRegistrationSolver.Params()
solver_params.cbar2 = 1
solver_params.noise_bound = 1
solver_params.estimate_scaling = True
solver_params.rotation_estimation_algorithm = (
    teaserpp_python.RobustRegistrationSolver.ROTATION_ESTIMATION_ALGORITHM.GNC_TLS
)
solver_params.rotation_gnc_factor = 1.4
solver_params.rotation_max_iterations = 100
sol

[2020-01-28 17:50] jingnanshi commented on #3
Interesting, can you show me your input data? It looks like it can't find a max clique larger than 1.

[2020-01-28 17:55] ChristopherLu commented on #3
Sure, FYI, my data is very sparse and noisy.

How do you want to me to send the data sample?

[2020-01-28 17:59] jingnanshi commented on #3
jnshi@mit.edu

[2020-01-31 12:43] ChristopherLu commented on #3
It just occurred to me that TEASER is a correspondence based method, right? The points clouds of my data are unorganized (i.e., i-th column in frame_t^-1 is not necessarily corresponding to the i-th column in the frame_t). Is that the reason I keep getting error msg?

Thanks.

[2020-01-31 15:41] jingnanshi commented on #3
Yes that's correct. TEASER++ takes in point correspondences.

[2020-01-31 16:58] ChristopherLu commented on #3
Do you have any recommendation to find such correspondences? In the open figure of the TEASER paper, I see there is a version of it can deal with correspondence-free scenarios.

[2020-01-31 17:05] jingnanshi commented on #3
Yeah, so we deal with correspondence-free scenarios by generating all possible matches between the two point clouds. The Python binding won't do this automatically for you, but you can use the following snippet:
[code]

Obviously it works only if the point clouds are reasonably sized. On my machine, it terminates in a reasonably amount of time for point clouds of ~100 points (so ~10^4 corresponden

[2020-02-01 09:58] ChristopherLu commented on #3
Works for me. Thanks!

[2020-02-02 00:06] jingnanshi commented on #3
No problem! Let me know if you need any more clarifications. Closing the issue now.

[2020-02-02 00:06] #3 closed

[2020-02-06 02:40] georgegu1997 opened #10 "Random Segmentation Fault when solver_params.estimate_scaling = False"
HI, thanks for the amazing paper and software.

I am using the python binding of `teaserpp_python.RobustRegistrationSolver`, but get `Segmentation fault (core dumped)` sometimes when I set `solver_params.estimate_scaling = False` and the shape of `src` and `dst` mismatches. The following code can produce the error and it may or may not throw the error at different runs.

[code]

This issue disappe

[2020-02-06 20:46] georgegu1997 commented on #10
Ah, sorry, I misunderstood the input.

[2020-02-06 20:46] #10 closed

[2020-02-13 17:10] ehocquard opened #11 "Data maximum size"
Hi,

First of all, many thanks for the work that was done on this, and the quality of code/documentation/example is impressive.

We are evaluating it to see if it fits our needs.
We are trying it to register two Kinect dataset.

Sadly, we did not have a single successful registration so far.

One problem we have is the size of the data that can be handled, it fails (i.e. bad alloc) if N above (aro

[2020-02-13 21:08] jingnanshi commented on #11
Hi Etienne,

Thanks for letting us know.

TEASER++ is not a correspondence-free method. That is to say, you need to first use some sort of feature extraction algorithms to extract features from the raw point clouds. You then match the features, and use the matched points as inputs to TEASER++.

I assume N=30K is the original size of the point cloud. You should be able to use some learned descripto

[2020-02-13 21:09] jingnanshi commented on #11
In terms of good 3D descriptors, I find the performance of handcrafted algorithms such as FPFH unreliable on real-world datasets. I recommend using learned 3D descriptors for your project.

[2020-02-14 11:21] ehocquard commented on #11
Hi,

I see, it makes sense and I should have think about it tbh.

We'll look into it and let you know of the result.

Feel free to close the issue.

Many thanks!

[2020-02-14 14:45] jingnanshi commented on #11
Feel free to email me (jnshi@mit.edu) if you want me to take a look at the data.

[2020-02-23 23:14] HabibaZImam opened #12 "Issues Installing the TEASER++ Python binding"
Hello jingnan,

I am working on point cloud registration for reverse engineering and additive repair, for which your TEASER++ code looks very promising and capable. I am trying to run it in python. I do not have much experience with C++ or Cmake, therefore I'm hoping that you can help me with the final step to install TEASER++ to my Anaconda environment.
I downloaded the TEASER++ repository and ra

[2020-02-24 00:55] jingnanshi commented on #12
Hi,

Just from the message itself I can't tell what's wrong. I haven't tested on Windows before so I am not familiar with what issues might occur. I'll try to build TEASER++ on Windows this week and get back to you.

[2020-02-24 17:27] HabibaZImam commented on #12
I'd really appreciate that. Meanwhile, I'm going to try it in ubuntu.

[2020-02-24 18:10] hagianga21 opened #13 "Could NOT find Matlab"
Hi, I have Mex but in Windows, when I build, I got this error:
Could NOT find Matlab (missing: Matlab_MEX_LIBRARY MX_LIBRARY) (found version "9.5")

[2020-02-25 02:53] jingnanshi commented on #13
Hi, Windows is not currently supported. Will let you know when the support is implemented.

[2020-02-25 02:53] #13 closed

[2020-02-28 02:52] jingnanshi commented on #12
Hi, I tried with windows, and unfortunately I'm not familiar with C++/Python development on windows to figure this out in a reasonably amount of time. Please stick with Ubuntu as much as you can. Alternatively, you can also use docker on windows.

[2020-03-02 15:07] jingnanshi commented on #12
Closing this for now. Please reopen if you have more questions.

[2020-03-02 15:07] #12 closed

[2020-03-17 11:46] monage2018 commented on #11
@ehocquard Hi,I have the same problem with you,and now, i notice that The TEASER needs Correspondence input when the original size of the point cloud is so big.So, How are you doing? what feature-extraction-algorithms do you use?Forgive my poor English！

[2020-03-17 12:46] esteimle opened #15 "Example for using with point clouds"
Could you share an example of how to run this against a pair of point clouds?  Like from a ply or obj file or something? The examples just show making a random array and using that as the source.

Thanks!

[2020-03-17 14:59] jingnanshi commented on #11
@monage2018 Hi, TEASER++ is a correspondence-based method. So ideally you should generate correspondences by feature matching. You can use 3DSmoothNet (which we used in our paper) to generate correspondences. If the point clouds are small, you can generate all possible correspondences, then feed those correspondences to TEASER++.

[2020-03-17 16:31] jingnanshi commented on #15
Hi @esteimle, thanks for your interest. Are you interested in a C++ example or a Python example?

[2020-03-18 16:30] esteimle commented on #15
Hi, thanks for writing back.  I'm interested in C++ example if possible.  I have some 3d point clouds I captured with my device from different angles and I want to learn how to combine them into one model.  I read your documentation saying I should first use 3Dsmooth net to get correspondances, so I'm going to try to learn about how to do that today. Then I hope to use teaser to combine the point

[2020-03-20 12:36] mastrogiorgis opened #16 "Any attempts to compile on Windows yet?"
Hello and thank you for uploading your code so we all have access to that!
It is very much appreciated.

Has anyone tried to compile the library in Win10 yet and VS2019?

Many thanks,

Giorgis

[2020-03-20 16:01] jingnanshi commented on #16
Hi Giorigis,

Thank you for your interest. Unfortunately current I don't have any plans to support compilation on Windows. However, you can set up a Docker image to use TEASER++ on Windows.

[2020-03-23 22:59] TobiasFischerP4D commented on #10
I seem to have a similar misconception. Would you mind explaining? :)

[2020-03-24 13:46] jingnanshi commented on #10
Hi @TobiasFischerP4D, thanks for your interest. `src` and `dst` need to have matching sizes (coming from a feature matching algorithm). Let me know if you have any other questions.

[2020-03-25 07:53] TobiasFischerP4D commented on #10
So, the data should be structured such that the first point in `src` corresponds to the first point in `dst` and so on. Why does this only need to be the case if we want to solve for scale?

[2020-03-25 15:42] jingnanshi commented on #10
`src` and `dst` need to be correspondences no matter whether you want to estimate scale or not. The fact that it doesn't crash when you set `solver_params.estimate_scaling = True` is just undefined behavior (probably because Eigen turns off size checking for release build).

[2020-03-25 20:04] chrischoy opened #17 "Cannot reproduce numbers on the 3DMatch test set."
Hi Hank,

I am trying to evaluate TEASER on 3DMatch, but I could not get numbers even close to 99% on 3DMatch test set. In fact, the numbers that I got is around 40%. For some challenging pairs, TEASER took almost 1000sec.

Could you post your 3DMatch pipeline?

[2020-03-25 20:24] jingnanshi commented on #17
Hi Chris,

Thank you for your interest. Are you using 3DSmoothNet? Also, what are the parameters you are using?

I'm planning to post an example showing how to incorporate 3DSmoothNet with TEASER++ using Python, so stay tuned.

[2020-03-25 20:25] #16 closed

[2020-03-25 20:25] #11 closed

[2020-03-25 22:08] chrischoy opened #18 "malloc(): largebin double linked list corrupted (nextsize)"
I am getting this error `malloc(): largebin double linked list corrupted (nextsize)` intermittently and can't run this for more than 5 registration pairs.

[2020-03-25 22:09] chrischoy commented on #17
Hi Jingnan,

I am using it with FCGF. I'll post my registration setup on the repo soon as well.

[2020-03-25 23:53] jingnanshi commented on #18
Haven't seen this before. How large is your RAM?

[2020-03-26 00:10] #17 closed

[2020-03-26 00:11] chrischoy commented on #18
It is 32G. It seems that FCGF gives too many inliers for TEASER and allocating too much memory.

[2020-03-27 01:10] jingnanshi commented on #18
For reference: error msg is from here: https://github.com/kraj/glibc/blob/master/malloc/malloc.c#L3868

[2020-03-30 02:28] Ao-lei opened #19 "terminate called after throwing an instance of 'std::bad_alloc'"
Hi:
when use the [PCL](http://pointclouds.org/documentation/tutorials/normal_distributions_transform.php) example data,  I get the error ` terminate called after throwing an instance of 'std::bad_alloc, what():  std::bad_alloc`.
But everything is OK for registration_test/1000point_model.ply。
my code is
[code]

[2020-04-01 22:05] jingnanshi commented on #15
@esteimle please take a look at PR #20 . New examples are added in the `examples/` folder. Let me know if you have any suggestions for improvements!

[2020-04-02 12:33] esteimle commented on #15
Great thank you!

On Wed, Apr 1, 2020 at 6:05 PM Jingnan Shi <notifications@github.com> wrote:

[2020-04-03 01:37] jingnanshi commented on #15
Merged #20 . Closing issue now.

[2020-04-03 01:38] #15 closed

[2020-04-08 14:40] prajval10 commented on #19
Hi @Ao-lei and @jingnanshi, I have the same error with my clouds. The error occurs while using the `teaser::RobustRegistrationSolver` `solve()` function.

The error:
[code]

GDB output:
[code]

The example code `teaser_cpp_ply` runs correctly without issues however. Any ideas on how to solve this?

[2020-04-08 14:51] jingnanshi commented on #19
Hi @prajval10,

Make sure you are giving TEASER++ **correspondences** instead of raw point clouds. Make sure the two input Eigen matrices have the same dimensions.

Also, what's your point clouds' sizes?

[2020-04-08 15:03] prajval10 commented on #19
Hi @jingnanshi, thanks for the quick response!

Looking at the source, I believe the cloud sizes need to be the same:
https://github.com/MIT-SPARK/TEASER-plusplus/blob/3f47dd048e5585992fea41089e7dbe89f88509bd/teaser/src/registration.cc#L404

In my case, I am using the TEASER++ correspondences however the sizes are not the same:
[code]
I'm trying to register an object pointcloud extracted from a CA

[2020-04-08 15:08] jingnanshi commented on #19
Hi @prajval10,

You need one more extra step before TEASER++: using a feature extraction algorithm to extract corresponding feature points from the two point clouds.

In your case, you need to do the following:
1. Get the CAD mesh and scene point cloud
2. Run feature extraction algorithms to extract feature vectors for all points
3. Use a nearest-neighbor algorithm to find matching points in the f

[2020-04-08 15:21] prajval10 commented on #19
Thanks @jingnanshi ! I am using the `FPFHEstimation` for the features. Here is my **psuedo-code**:

[code]

[2020-04-08 15:33] jingnanshi commented on #19
@prajval10 can you try this branch: https://github.com/MIT-SPARK/TEASER-plusplus/tree/bugfix/solve_with_correspondences

[2020-04-08 17:18] esteimle opened #22 "Teaser and 3D smooth together"
I finally got the new C examples running and I tried to run them with my own point clouds. But they were too big and caused a Malloc error. Now I understand from reading that what I should do is feed the correspondences in, instead. So I spent some time and now I have 3Dsmoothnet running.  It seems to take in ply files and generate .csv files that I assume are the correspondances?  I'm confused on

[2020-04-08 17:55] prajval10 commented on #19
It works now! Thanks :+1:

[2020-04-08 19:14] jingnanshi commented on #19
Nice to hear! FPFH features don't work very well. If possible, I recommend using learned features. In addition, the `matcher` implemented in TEASER is very rudimentary, and it can certaily be improved.

[2020-04-08 19:20] jingnanshi commented on #22
The example will be a great place to start. However, the example in the repo does not show you how to generate the SDV files and descriptors from point clouds using 3DSmooth.

You should take a look at this: https://github.com/zgojcic/3DSmoothNet#instructions To summarize:
1. Use 3DSmooth to generate the SDV parametrization (the csv files you mentioned)
2. Use 3DSmooth to generate descriptors from

[2020-04-09 03:47] #19 closed

[2020-04-09 17:38] esteimle commented on #22
I was able to run my ply files through 3Dsmooth and then I ran the results through your python demo. I modified the 3dsmooth execute_teaser_global_registration method to print out the estimate rotation and translation values, but they're not working like I expected. It's not registering the two point clouds, in fact it makes the rotation way worse :)

I went back and used your example data, and I

[2020-04-09 17:44] jingnanshi commented on #22
@esteimle If you want, you can post your code & data on a git repo / gist and share it with me so I can take a look. My guess is it's either 1) the clouds you are using are not similar to the data used in training for 3DSmooth 2) the feature correspondences calculated are not correct.

[2020-04-09 19:32] esteimle commented on #22
Sure thank you so much.  Here's a repo with my modifications https://github.com/esteimle/teaser

in the examples/teaser_python_3dsmooth folder I have a file called eric_3dsmooth.py that I was using.

My data is in examples/example_data/smooth
output_2.ply and output_3.ply are what I'm working on.  They're two depth images of my desk just slightly off angle from one another. I put a picture in this

[2020-05-01 14:48] saadehmd opened #24 "Not going really well with the partial view Pointcloud"
I am not sure if i got the whole concept wrong, but is this method supposed to work on partial-view pointclouds? The results were not very good when i tried to register a single-view cloud from kinect to it's original 360 degree scanned pointcloud.
Then instead of this kinect cloud, i also tried cropping the original cloud before transformation, to preserve different levels of the full cloud. I tr

[2020-05-02 01:56] jingnanshi commented on #24
Hi @saadehmd, thank you for your interest! TEASER++ is in its essense a **correspondence-based** method. The src/dst clouds need to be the same sizes because they should represent correspondenting points; i.e.: the first column of the dst cloud should correspondent to the first column of the src cloud.

To generate correspondence, consider 3DSmoothnet or FCGF. Let me know if you have any other que

[2020-05-02 12:51] saadehmd commented on #24
Thanks for your reply. Would it be any useful if I add random outliers in dst cloud just to make the sizes equal. Since it's robust to a large amount of them. Thanks for the other suggestions. I was hoping this works with partial clouds as it was working so perfectly with the full-cloud. Anyways I'll try the other two methods. Is the python example teaser_pythom_3Dsmooth.py for this 3Dsmoothnet me

[2020-05-02 21:35] jingnanshi commented on #24
Instead of adding random outliers, it makes more sense to create more correspondences between src and dst points.

Yes, the example py file shows you how to load 3DSmoothnet descriptors, match them and use TEASER++. To actually generate 3DSmoothnet descriptors, you need to refer to their github repo.

See https://github.com/zgojcic/3DSmoothNet and https://github.com/chrischoy/FCGF.

[2020-05-03 11:26] PetropoulakisPanagiotis opened #25 "open3d fpfh"
Is it possible that we can use open3d fpfh to use solver.solve() like teaser_cpp_fpfh example?

[2020-05-03 22:48] jingnanshi commented on #25
Yes. TEASER++ doesn't care about what features you use, as long as you have correspondences.

If you follow this tutorial: http://www.open3d.org/docs/release/tutorial/Advanced/global_registration.html, you should be almost all set. You just need to match FPFH features using your own feature matching algorithm.

[2020-05-03 22:48] jingnanshi commented on #24
Closing this for now. Reopen if you have any more questions.

[2020-05-03 22:48] #24 closed

[2020-05-04 10:10] PetropoulakisPanagiotis commented on #25
Thank you for your answer. I use open3D frequently and i try to combine it with your API.  I try to import matcher in python like teaser_cpp_fpfh but an error occured(may matcher isn't available in python). Do you have any suggestion ?

[2020-05-05 14:32] jingnanshi commented on #25
Yes I don't have the matcher binding in Python. You can use Open3D's matcher instead.

[2020-05-13 12:25] XuyangBai commented on #17
Hi @jingnanshi

Thanks for your sharing. I am also trying TEASER++ on 3DMatch, would you mind sharing the parameters with me?

Best,
Xuyang.

[2020-05-13 13:40] jingnanshi commented on #17
@XuyangBai see this file: https://github.com/MIT-SPARK/TEASER-plusplus/blob/master/examples/teaser_python_3dsmooth/teaser_python_3dsmooth.py The parameters should all be there. Let me know if you have any more questions!

[2020-05-14 03:05] XuyangBai commented on #17
@jingnanshi  Thanks a lot !

[2020-05-14 08:25] superkirill opened #26 "Incorrect rotation error calculation"
The function **bench_utils.get_angular_error(R_gt, R_est)** in the teaser_python_3dsmooth example doesn't compute the rotation error correctly. For example, if R_gt and R_est equal to:

[[ 0.47754719 -0.031702   -0.14449853]
 [ 0.144925    0.00224509  0.47846407]
 [-0.02969151 -0.49892495  0.01133455]]

the function returns  **97.18351924664557**, when it should be **0**, because it is an angle be

[2020-05-14 15:44] jingnanshi commented on #26
@superkirill Thanks for the feedback! I checked your matrix, and it seems like it's not a proper rotation matrix (its determinant is not 1). If I normalize the matrix to have the determinant be 1, then the function returns correct results.
Here is my Python interpreter output showing the matrix's determinant:
[code]
And here are the outputs if I normalize the matrix:
[code]
Let me know if you have

[2020-05-15 08:34] superkirill commented on #26
@jingnanshi Thanks for your reply! I indeed didn't think of normalizing the matrix, now everything seems to be fine.

[2020-05-15 08:34] #26 closed

[2020-05-18 09:03] Aimi-no opened #27 "What does it mean when solution scale is -nan?"
Hi, I'm running Teaser-plus-plus in Python and the solution I got for one of my datasets has a scale equal to -nan. What does it mean? Does it mean that the scale could not be calculated or that there's no scale needed?

Thank you.

[2020-05-18 16:13] jingnanshi commented on #27
@Aimi-no It is usually caused by nan values somewhere in the data values (or caused by an undefined arithmetic operation somewhere in the code). If possible, you should try to isolate the problem in the dataset and see where nan is first introduced.

[2020-05-25 08:30] LKeaning opened #28 "munmap_chunk(): invalid pointer"
Hi, I'm running the minimum python example. When compiling the code everything works fine but when I run the teaser_python_ply.py, I got the following error messages:

[code]
[code]
[code]
[code]

Could anyone help me to find what is wrong? Thank you so much!

[2020-05-25 14:45] jingnanshi commented on #28
Can you try `OMP_NUM_THREADS=12 python teaser_python_ply.py` ?

[2020-05-26 01:40] LKeaning commented on #28
It works! Thank you so much!

[2020-05-27 15:19] xjsansan opened #30 "teaser_cpp_fpfh"
when run teaser_cpp_fgfh, i got error,wish you give some advise
*** Error in `./teaser_cpp_fpfh': double free or corruption (out): 0x0000000001e86f00 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7fa07a8727e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8037a)[0x7fa07a87b37a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)[0x7fa07a87f53c]
./teaser_cpp_fpfh[0x40814c]
./teaser_cpp_

[2020-05-27 17:07] #28 closed

[2020-05-27 17:07] jingnanshi commented on #30
I'll see whether I can reproduce this issue. What's your operating system and what's your CMake version?

[2020-05-27 18:23] xjsansan commented on #30
thx first. i use Cmake 3.3.7 and PCL1.8 in Ubuntu system, it seems i cant link teaser_features. i make BUILD_TEASER_FPFH=ON when cmake

[2020-05-28 03:06] xjsansan commented on #30
thx first. i use Cmake 3.16.0-rc3, PCL1.8 and Eigen3 3.3.7 in Ubuntu16.04 system, it seems i cant link teaser_features. i make BUILD_TEASER_FPFH=ON when cmake

[2020-06-01 18:50] Aimi-no opened #31 "Feeding TEASER-plusplus correspondences"
Hi, when I was reading your paper I found out that correspondences can be fed to TEASER. Is there a way to do it in python? I haven't found any parameters in RobustRegistrationSolver or RobustRegistrationSolver.Params that would indicate the way to do it and I haven't found it in examples.

Thank you.

[2020-06-01 19:47] jingnanshi commented on #31
Hi,

In python, you need to provide TEASER with `src` and `dst` (two numpy matrices), and these two matrices should have rows corresponding to each other. In other words, you should view `src` and `dst` as corresponding points, not two point clouds with arbitrary arrangements of points.

[2020-06-01 19:50] Aimi-no commented on #31
@jingnanshi
I see. Thank you for your answer.

[2020-06-01 19:50] #31 closed

[2020-06-01 20:10] jingnanshi commented on #31
Np! @Aimi-no it should actually be corresponding columns instead of rows.

[2020-06-04 02:12] LKeaning opened #32 "how to make the python demo to do registration on more points"
I run the demo code:

[code]

The maximum of number of points in the point cloud I can run successfully is 10000. If the number is greater than 10000, the program will be killed automatically. Is it possible to run the code on more points, since I'm doing face point cloud registration? Thanks!

[2020-06-04 21:14] jingnanshi commented on #32
Hi @LKeaning, can you check whether you have run out of memory?

Also, I think you might have a misunderstanding of `src` and `dst`. The `src` and `dst` are not point clouds. They are corresponding points in the source and destination clouds. Thus, it makes more sense for you to have a learned feature detector to generate features and match them, then pass the correspondences to TEASER++.

[2020-06-05 10:33] LKeaning commented on #32
OK, I got it. Thanks!

[2020-06-05 13:06] #32 closed

[2020-06-07 22:51] #27 closed

[2020-06-07 22:51] #25 closed

[2020-06-09 08:07] negarl opened #33 "Installing on mac"
Can I install it on macOS High Sierra?

[2020-06-09 13:45] jingnanshi commented on #33
@negarl I haven't tested on macOS before unfortunately. Feel free to try & post any questions here!

[2020-06-13 13:57] negarl commented on #33
Hi again,
I have too much trouble installing PCL on mac. I got this error, Can you help me with it?
"clang: error: linker command failed with exit code 1 (use -v to see invocation)"
What if I install PCL with homebrew instead of the one you used ? would it be any different?

[2020-06-13 22:36] jingnanshi commented on #33
@negarl Hi, the core TEASER++ library does not require PCL. You should try to just compile with BUILD_TEASER_FPFH=OFF

[2020-06-15 17:52] evarcurto opened #34 "teaser_cpp_ply core dumped"
I'm trying to run ./teaser_cpp_ply on Ubuntu 16.04 and I got this output:

[code]

[2020-06-15 20:49] rmslick opened #35 "Size limit"
Is there a limitation to the size of the ply file?  And do you have any methods for reading in .pcd files instead of ply?  Below is the output of teaser_cpp_ply when I attempted with my own ply data.

Read 194507 total vertices
	Read 164016 total vertices
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
Aborted (core dumped)

[2020-06-15 23:39] jingnanshi commented on #34
Try run with OMP_NUM_THREADS=12 (see the bottom of the README)

[2020-06-15 23:40] jingnanshi commented on #35
TEASER++ takes in correspondences, not raw point cloud. So you need to use PCL or some other libraries to first generate features and correspondences. Then feed those correspondences to TEASER++.

[2020-06-16 00:01] rmslick commented on #35
So, taking  teaser_cpp_ply as an example, you are saying the the ply that is input into the example is a correspondence in the form of a .ply file?

[2020-06-16 00:07] jingnanshi commented on #35
The example read a .ply file that contains a 3D model, applies random 3D transformation with outliers, and estimated the transformation.

[2020-06-16 00:14] rmslick commented on #35
Right, so if I input two of my own 3D model represented as a .ply's to the example and I get the error that I listed in my post then I am still curious- is there an upper limit on the size of the ply to this example program?

I have attempted both to simply swap the example model with my own model and I have loaded two files and took out the random transformation and in both cases I have gotten se

[2020-06-16 00:29] jingnanshi commented on #35
I see. So I don't have a hard memory limit, but 164016 vertices will definitely consume a lot of memory, and seg faulting due to memory will definitely happen if your RAM runs out. You can confirm it by maybe checking with your system monitor.

[2020-06-16 09:58] evarcurto commented on #34
Unfortunately the output is the same.

[code]

[2020-06-16 14:15] jingnanshi commented on #34
@evarcurto Try this instead:  `OMP_NUM_THREADS=12 ./teaser_cpp_ply`

[2020-06-16 17:55] rmslick commented on #35
I suspect this is what is happening.  Thank you for your prompt replies!

[2020-06-16 18:02] jingnanshi commented on #35
@rmslick No problem! Open any new issues if you have new questions.

[2020-06-16 18:02] #35 closed

[2020-06-17 09:45] evarcurto commented on #34
@jingnanshi It worked! Thank you!

[2020-06-17 16:26] jingnanshi commented on #34
@evarcurto Glad I can help!

[2020-06-17 16:26] #34 closed

[2020-06-27 18:25] evarcurto opened #37 "teaser_cpp_fpfh core dumped"
Hi,

I'm trying to run ./teaser_cpp_fpfh.cc on Ubuntu 16.04 and I got this output:

[code]
I'm using the bun_zipper_res3.ply pointcloud  (after downsampling it).

[2020-06-27 22:04] jingnanshi commented on #37
Hi @evarcurto, thanks for reporting this error! Do you mind try running the example that does not involve FPFH? For example, can you try running https://github.com/MIT-SPARK/TEASER-plusplus/tree/master/examples/teaser_cpp_ply ?

[2020-06-27 22:48] evarcurto commented on #37
Hi @jingnanshi ! Thank you for the prompt reply!
I can now run `teaser_cpp_ply` without any problem. (https://github.com/MIT-SPARK/TEASER-plusplus/issues/34#issuecomment-644445793).
My goal is to use TEASER++ to do the registration of my point clouds dataset but I need to get the correspondences...that's why I'm trying to use the `teaser_cpp_fpfh` example.

[2020-06-27 23:17] jingnanshi commented on #37
What version of PCL are you using? Also, can you please run all the unit tests and report back failures? Thanks!

[2020-06-28 15:58] evarcurto commented on #37
I'm using PCL 1.9.1.
After run the tests:

[code]

[2020-06-28 19:30] jingnanshi commented on #37
Make sure you ran the unit tests with `OMP_NUM_THREADS=12`. Meanwhile, can you try to build the library with debug enabled and obtain a stacktrace with GDB?

[2020-06-28 20:08] evarcurto commented on #37
Yes, I always use OMP_NUM_THREADS=12.
As you suggested, I built teaser++ with -DCMAKE_BUILD_TYPE=Debug.
The output of `OMP_NUM_THREADS=12 ./teaser_cpp_fpfh` was:

[code]

[2020-06-28 20:36] jingnanshi commented on #37
So it looks like the reason is because there is no clique in the graph formed by the correspondences. How did you perform downsampling on the point cloud `bun_zipper_res3.ply`?

[2020-06-29 08:08] Pamphlett opened #38 "Correspondence Establishing"
Hi,

Thanks for sharing your code!
I'm wondering about the role (or significance) of the putative correspondence that fed to the whole algorithm.
Why do we need to use a set of more reliable correspondences (e.g. computed by FPFH) instead of some heuristic (or naive) methods (e.g. nearest neighbor)?

I'm interested in the correspondence-free case you presented in Fig.1.(g). As the computation of F

[2020-06-29 14:09] jingnanshi commented on #38
Hi @Pamphlett, thank you for your interests! Certainly you can use heuristics to generate correspondences, but if the two point clouds have zero overlap, then it's unlikely to have any inlier correspondences, and the resulted registration solution will be incorrect.

The correspondence-free case means that all-to-all correspondences are generated and TEASER++ is used to filter out the incorrect on

[2020-06-29 16:27] evarcurto commented on #37
I used matlab to do the downsampling (I experimented with the random and gridAverage mode). Meanwhile, I found that if I run without adding noise/outliers it works for your synthetic point cloud (rabbit).
Unfortunately, when I try to use my point clouds (from different views with little overlap) I don't get the correct transformation.

[2020-06-29 17:41] jingnanshi commented on #37
@evarcurto I think the reason of the failure is the poor performance of FPFH. I've experienced similar errors also, and it turned out that the FPFH features matching failed to generate > 2 pairs of correct correspondences. If possible, try learned features such as 3DSmoothNet and FCGF.

[2020-06-30 01:46] Pamphlett commented on #38
@jingnanshi I got it! Thanks for your clear answer ;)

[2020-06-30 02:53] jingnanshi commented on #38
Glad I can help @Pamphlett

[2020-06-30 02:53] #38 closed

[2020-07-05 05:37] ameysutavani opened #39 "Ability to use custom correspondences (Eg. Point to Line, Point to Plane associations)"
Hello,

I was wondering if it is possible to extend TEASER-plusplus to have user-defined correspondences instead of just point-to-point associations?

For instance, CERES requires the user to define a custom CostFunction class which just overloads () operator to get current residues:
http://ceres-solver.org/nnls_modeling.html

Can TEASER++'s api be extended so that its solve() function can take di

[2020-07-07 15:39] jingnanshi commented on #39
Hi @ameysutavani, thank you for your interest and suggestion! I took a quick look, and unfortunately I think it will require more work than simply using polymorphism for the residue functions. TEASER++ is formulated for 3D point-to-point registration only, and changing it to accept other correspondences will require some substantial changes if we want to keep the same level of performance. However

[2020-07-07 17:50] ameysutavani commented on #39
Hi @jingnanshi, thanks for the quick response! Yes, I will surely take a look at the paper; thanks for sharing.

[2020-07-07 17:55] #39 closed

[2020-07-18 02:11] int-smart opened #40 "Running Teaser++ with PCL fpfh"
Hi

I am trying to build Teaser++ with PCL fpfh. I am building the library using:
`cmake .. -DBUILD_TEASER_FPFH=ON && make`
I am getting the following error:
![image](https://user-images.githubusercontent.com/10044891/87846382-71a0b680-c89d-11ea-9e17-9a224e6bf940.png)

Please let me know how can this be fixed?

I am using:
Ubuntu 18.04.4 LTS
ROS Melodic

Thanks

[2020-07-20 06:56] negarl opened #41 "Input and output in different sizes"
Hi.
When I use TEASER for unmatched src and dst with shapes (3, 7850) and (3, 14571) respectively, I get no out put from the solver.getSolution() just this :
< Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)>
Also, in the paper you present experiments where you tell the algorithm to match everything with everything and show it can still give good results because it is very

[2020-07-20 15:14] jingnanshi commented on #41
Hi,

Thanks for the interest. You need to generate all-to-all correspondences yourself. TEASER++ won't automatically generate the correspondences for you.

[2020-07-20 15:15] jingnanshi commented on #40
Hi @int-smart, what version of PCL you are using?

[2020-07-20 21:24] int-smart commented on #40
Hi. I have PCL version 1.8.1

[2020-07-21 22:12] jingnanshi commented on #41
Close this issue for now. Feel free to reopen if you have more questions.

[2020-07-21 22:12] #41 closed

[2020-07-22 21:09] int-smart commented on #40
Any updates on this issue.

[2020-07-22 21:13] jingnanshi commented on #40
@int-smart I haven't been able to take a look, but it's on my todo list.

[2020-07-23 07:19] Pamphlett opened #42 "Noise bound choosing"
Hi,

First, thanks for your insightful work 👍🏼
Well while reading the paper, I have several questions related to the noise bound and hope to get some help here.

- Can I say that the noise bound (which is $\Beta_{i}$ in the paper) in TLS is something like the bound in Trimmed ICP? As both of them try to resist outliers by a 'hard rejection' manner.
- How to properly choose the noise bound in diffe

[2020-07-23 07:29] Pamphlett commented on #40
@int-smart Try something like `find_package(PCL REQUIRED)` and `include_directories` in the cmakelists.

[2020-07-23 14:37] jingnanshi commented on #42
@Pamphlett
1. I took a quick look at the Trimmed ICP paper, and it looks like it is trimming by using only a number of measurements instead of all the measurements. In one sense, it's trying to something similar to TEASER++: rejecting outliers. I didn't find a parameter in the Trimmed ICP paper that corresponds to the noise bound exactly. You can view the noise bound as the threshold above which w

[2020-07-24 11:36] Enzo-MiMan opened #43 "segmentation fault"
Hi,  I tried to use teaser++ to process a series of point cloud (frames).
namely, register the point cloud in frame k with that in frame k+1,  and so on.

It works whe I only run on one pair of point clouds, but when I implement it in loop, it prompt the error ”zsh: segmentation fault”

My laptop os is MacOS Catalina and I run the executable file with command “OMP_NUM_THREADS=12 ./teaser_cpp_ply”

[2020-07-24 14:18] jingnanshi commented on #43
@Enzo-MiMan Thank you for your interest. Just to confirm: does N equal to M?

[2020-07-24 19:30] Enzo-MiMan commented on #43
No, they are different, but all around 30~60 points.

[2020-07-24 19:33] jingnanshi commented on #43
@Enzo-MiMan They need to be the same size. The reason why it did not segfault before is shear luck. You need to either 1) have a feature extraction algorithm to extract equal number of features from the two point clouds, match them with NN matching, or 2) generate all possible correspondences and feed them directly to TEASER.

[2020-07-24 19:40] Enzo-MiMan commented on #43
Oh, I see. Thank you so much!

[2020-07-24 19:44] jingnanshi commented on #43
@Enzo-MiMan No problem. Let me know if you have any more questions!

[2020-07-24 19:44] #43 closed

[2020-07-25 02:25] Pamphlett commented on #42
@jingnanshi

1. For me, Trimmed ICP uses an implicit bound: by 1. sorting the pair-wise residuals; 2. taking a certain portion of the sorted residual into consideration (the portion parameter can be view as a 'bound' to reject outliers).
2. Can I say that if I decrease the $\Beta_{i}$ and fix $c_bar$ to one, it makes the algorithm involves fewer correspondences into the objective function? So does

[2020-07-25 19:07] jingnanshi commented on #42
@Pamphlett beta relates to the scale because we are filtering based on the calculated scale values based on correspondences.

Will update here if we finish the release. :)

[2020-07-29 03:17] Pamphlett commented on #42
@jingnanshi
Hi jingnan,

Seems that in the current release, Geman McClure is used as the weight function rather than the TLS.
See here https://github.com/MIT-SPARK/TEASER-plusplus/blob/2c50d35af14e198deab76cf3dfbe93dddeb8eafd/teaser/src/registration.cc#L253

[2020-07-29 03:39] jingnanshi commented on #42
@Pamphlett By setting the param struct, you can choose between TLS and GM. See https://github.com/MIT-SPARK/TEASER-plusplus/blob/2c50d35af14e198deab76cf3dfbe93dddeb8eafd/teaser/src/registration.cc#L603 and https://github.com/MIT-SPARK/TEASER-plusplus/blob/2c50d35af14e198deab76cf3dfbe93dddeb8eafd/teaser/include/teaser/registration.h#L719

[2020-07-29 03:47] Pamphlett commented on #42
Got it! Thx

[2020-08-07 06:28] LAICHAO2018 opened #44 "run error"
Thank you for you wonderful work!
I ran into a problem when I ran Mini C + + example according to your steps. I hope you can answer it.

laichao@laichao-PC:~/TEASER-plusplus/examples/teaser_cpp_ply/build$ ./teaser_cpp_ply
./teaser_cpp_ply: error while loading shared libraries: libpmc.so: cannot open shared object file: No such file or directory

I run in Ubuntu 18.04, Thank you for your response~

[2020-08-07 06:49] LAICHAO2018 commented on #44
I've tried several times and I still can't...

[2020-08-11 01:18] LAICHAO2018 opened #45 "Calculation error"
Hello
     Thank you again, When I use example "teaser_cpp_fpfh" to with stanford bunny data, I meet a problem: The error may be too big. Here is my output.

        Read 35947 total vertices
CROSS CHECK
Skipping Tuple Constraint.
*** [pmc heuristic: thread 1]   current max clique = 2,  time = 0 sec
[pmc heuristic]  mc = 2
=====================================
          TEASER++ Results
==========

[2020-08-11 02:40] jingnanshi commented on #45
Hi @LAICHAO2018, thank you for your interest. It looks like the maximum clique is too small. I'll take a look at the example.

[2020-08-11 16:29] pbeeson commented on #44
Just add pmc to the target_link_libraries line in the CMake file

[2020-08-11 21:08] pbeeson opened #47 "Information about finding multiple solutions"
First, thanks for providing such well organized source code that's been pretty straightforward to install and get working with my own data.

I was wondering if it is possible to get multiple transform solutions out using Teaser.   In particular, I was investigating using Teaser for 6D pose estimation of objects in depth data.  I have very noisy scene data and very clean (CAD) model info.  I have s

[2020-08-11 22:30] jingnanshi commented on #47
Hi @pbeeson, thank you for your interest and compliments :)

Currently, TEASER++ assumes there's only one solution unfortunately.

That's my first thought as well. I think my FPFH matcher currently returns global correspondences, but I need to double check. My question is: do you know the number of instances in the scene?

If not, the only elegant solution I can think of is to have a classificatio

[2020-08-11 22:39] pbeeson commented on #47
FPFH isn't working that great after all.  It got the translation close but when I finally visualized the transformed object, the rotation is poor.

[2020-08-11 22:41] pbeeson commented on #47
Unfrotunately, for many application, learning simply isn't an option.  I was looking to use SHOT or USC features instead of FPFH, but it looks like you have a very special set of matching criteria in Teaser that is different than just finding the one nearest neighbor for each source feature in the target.  So, it'll be some work to make that a bit more generic to handle any kind of PCL descriptor.

[2020-08-12 01:39] LAICHAO2018 commented on #45
maybe you can try this dataset，I have been tested in teaser_cpp_fpfh and teaser_cpp_ply, The result error is a little big...
[https://github.com/LAICHAO2018/bunny_datasets](url)

[2020-08-12 02:13] jingnanshi commented on #47
@pbeeson The creteria are quite arbitrary --- those used in the FPFH matching code here are not by any means the best. For the experiments mentioned in our paper, we simply used **bi-directional nearest neighbor**: (p1,p2), where p1 is a src point and p2 is a dst point, is used as a correspondence if and only if p1's feature is the closest to p2's feature among all points in src and p2's feature i

[2020-08-12 02:16] jingnanshi commented on #45
Hi @LAICHAO2018,

1. The examples you provided are of different scale, and I don't think FPFH can handle objects of different scale well.
2. If you didn't change the parameter to estimate scale, then the provided code examples are not going to work.

[2020-08-12 02:17] jingnanshi commented on #42
#46

[2020-08-12 02:35] LAICHAO2018 commented on #45
I modified "estimate_scaling = True"

[2020-08-12 02:35] LAICHAO2018 commented on #45
I modified "estimate_scaling = true"

[2020-08-12 02:53] jingnanshi commented on #45
Hi @LAICHAO2018, then the issue is probably caused by FPFH features. FPFH features use a radius to estimate the local curvature, which is not going to work with objects of different scales. You can adjust the radius, but that will require you to know the scale beforehand.

[2020-08-12 15:16] #42 closed

[2020-08-12 16:50] jingnanshi commented on #30
Closing this issue because there's no update.

[2020-08-12 16:50] #30 closed

[2020-08-12 16:51] jingnanshi commented on #33
Closing this issue for now. Feel free to reopen if you have more questions.

[2020-08-12 16:51] #33 closed

[2020-08-12 16:51] jingnanshi commented on #37
Closing this issue now due to no update.

[2020-08-12 16:51] #37 closed

[2020-08-13 07:41] JasDEng opened #48 "could TEASER++ do 2d pointcloud registration？"
Hello, I've tried examples in the TEASER++ pkg. Your work is impressive!
I am curious that if TEASER++ could be used to align 2d pointcloud.

Thank you and best wishes.

[2020-08-13 14:44] jingnanshi commented on #48
Hi @JasDEng, right now we don't support 2D out of the box, but you can just set z to be 0 and run the solver as it is.

[2020-08-14 02:10] JasDEng commented on #48
Thank you very much for the fast reply and help!

[2020-08-14 02:10] #48 closed

[2020-08-16 06:14] femust opened #49 "Question about lidar odometry application and bad alloc."
Hey,

so from some time I have been trying to run your Teaser as a Lidar Odometry module for comparison for my research. One Teaser Lidar Odometry approach is in a point-to-point manner - I have 3D correspondences and then I put it into Teaser; the other is feature-based approach - I calculate FPFH features and then I put this into Teaser.
I use Kitti dataset and I noticed that when I try to find

[2020-08-16 15:23] jingnanshi commented on #49
@femust Thank you for your interest.

The first approach you described here is not correct. Given two consecutive LIDAR scans, you can't get correspondences without using some sort of matching algorithm. You can either use 1) nearest-neighbor directly to match points, or 2) use features + NN search in feature space.

Yes, 120k points are a lot of points. If the number of correspondences you feed i

[2020-08-16 15:53] femust commented on #49
```The first approach you described here is not correct. Given two consecutive LIDAR scans, you can't get correspondences without using some sort of matching algorithm. You can either use 1) nearest-neighbor directly to match points, or 2) use features + NN search in feature space.```
Yes, this is what I meant, but it seems that I didn't express myself clearly, so first I have a kind of knn matche

[2020-08-16 17:47] jingnanshi commented on #49
No problem, @femust let me know if you have more questions.

[2020-08-16 17:47] #49 closed

[2020-08-16 23:53] YuePanEdward opened #50 "Minimum Eigen version"
Thank you very much for this terrific open-source project. It works quite well in my LiDAR SLAM project even with a 2% correspondence inlier rate.

I found that there are some operator overloading error when building with Eigen 3.2. However, the building passed with Eigen version >= 3.3. So maybe the min required Eigen version should be 3.3 instead of 3.2 in CMakeList.

[2020-08-17 01:21] jingnanshi commented on #50
@YuePanEdward thank you for the kind words and feedback! Do you mind posting the errors here so I can take a look? I originally set it to 3.3, but someone suggested setting it to 3.2 so Ubuntu 16.04's default Eigen will work.

[2020-08-17 08:20] YuePanEdward commented on #50
### errors with Ubuntu 16.04's default Eigen (3.2.9)
[code]
[code]
[code]

Maybe this is my own mistake.

[2020-08-18 00:32] jingnanshi commented on #50
@YuePanEdward thank you. It's not your mistake. This is caused by the new certification module I added. Will fix soon.

[2020-08-18 11:15] YuePanEdward commented on #50
Thank you a lot.
By the way, some examples of the usage of certification API would be helpful.

[2020-08-19 00:35] narutojxl opened #51 "performance about velodyne sparse point cloud"
Hi @jingnanshi, thanks for your sharing to the community!
I found the example data is dense point cloud something to scene reconstruction. Could this project suit for velodyne-16 sparse point cloud to registration, where collected from the outdoor unstructured environment?
Thanks for your help and time !

[2020-08-19 02:10] jycc1991 opened #52 "When I change N_OUTLIERS from default 1700 to 170,the teaser_cpp_ply example executing time became much slower(more than 30 seconds),I am confused why when the num of outliers is large the program runs fast while extemely slow when setting N_OUTLIERS small?"

[2020-08-19 02:10] jingnanshi commented on #51
@narutojxl Thank you for your interest. Essentially TEASER++ is solving an optimization problem involving 3xN matrices that represent correspondences. It doesn't matter whether the underlying point clouds are indoor vs. outdoor, sparse vs. dense.

That being said, I want to make sure that you understand TEASER++ needs correspondences as inputs. So if you have a feature descriptor that can give you

[2020-08-19 02:14] jingnanshi commented on #52
In short: max clique solver we used is optimized for sparse graphs, and when number of outliers is large, it's not a sparse graph anymore.

[2020-08-19 06:28] narutojxl commented on #51
@jingnanshi,thanks very much!  :)

[2020-08-19 06:28] #51 closed

[2020-08-19 18:02] jingnanshi commented on #47
@pbeeson Closing this issue for now. Feel free to open other issues if you have more questions.

[2020-08-19 19:33] #47 closed

[2020-08-20 01:13] #52 closed

[2020-08-20 02:00] jycc1991 opened #53 "When I run teaser_cpp_fpfh example,I run into this problem"
When I run teaser_cpp_fpfh example,I run into this problem:
	Read 1889 total vertices
CROSS CHECK
Skipping Tuple Constraint.
Starting scale solver.
Scale estimation complete.
Max core number: 4
Num vertices: 7
*** [pmc heuristic: thread 1]   current max clique = 5,  time = 1.90735e-05 sec
[pmc heuristic]	 mc = 5
Max Clique of scale estimation inliers:
Using chain graph for GNC rotation.
Starting r

[2020-08-20 03:25] jingnanshi commented on #53
Please report the exact commands you have used. Also, take a look at this page: https://teaser.readthedocs.io/en/latest/known_issues.html

[2020-08-20 05:24] jycc1991 commented on #53
OMP_NUM_THREADS=4 ./teaser_cpp_fpfh

[2020-08-20 14:40] jingnanshi commented on #53
@jycc1991 Compile in debug and post the backtrace here. Also, make sure you have compiled and install PCL from source.

[2020-08-24 04:14] hmz-15 commented on #53
I found that the error can be avoided by comment the line "translation_inliers_ = utils::findNonzero<bool>(translation_inliers_mask_);" after "TEASER_DEBUG_INFO_MSG("Translation estimation complete.");"

[2020-08-24 15:37] jingnanshi commented on #53
@hmz-15 Thanks for the feedback. I'll take a look.

[2020-08-25 06:26] jycc1991 commented on #53
It exetutes all well in debug mode.

[2020-08-27 07:53] negarl commented on #42
Hi,
Thanks for your great work.
Did you finish the certification code? Is it available in python too?

[2020-08-27 14:54] jingnanshi commented on #42
@negarl Yes it's finished. It's in python as well. I don't have examples / documentation for it yet.

[2020-08-31 12:28] negarl commented on #42
Oh, great. When the documentation will be ready?

[2020-09-01 14:56] willat343 commented on #53
I have the same issue (kinda).

If the example is built in debug mode using `-DCMAKE_BUILD_TYPE=Debug`, the output is variable. Sometimes it is the same as in @jycc1991's original issue, sometimes it runs to completion without Seg fault, and sometimes it has even less output before Seg faulting.

If the example is build in release mode using `-DCMAKE_BUILD_TYPE=Release` it consistently runs with a

[2020-09-01 21:07] jingnanshi commented on #53
@willat343 Thanks for the report. My guess is my latest update might have caused this issue. I'll try to take a look soon.

[2020-09-08 09:34] willat343 commented on #53
hi @jingnanshi and @tpatten, has there been any progress on this bug?

[2020-09-08 10:05] tpatten commented on #53
No, I just removed the line pointed to by @hmz-15 but my code still has the same error as you reported most recently. I haven't had time to investigate further. I am hoping @jingnanshi can help out.

[2020-09-10 12:01] powerm opened #54 "[QUESTION] Segmentation fault (core dumped)"
**Have you read the documentation?**

- [x] Yes

Post your theoretical questions / usage questions here.
I have run the example, but  I use my point cloud, but  I have get the result blew:

==================================================
        TEASER++ Python registration example
==================================================
Starting scale solver.
Segmentation fault (core dumped)

So I d

[2020-09-15 14:56] RiccardoGiubilato opened #55 "SIGABRT During rotation solver"
I'd like to report an issue I am having on user-supplied pointclouds.
While estimating the rotation TEASER randomly stops after a failed internal check for Eigen.
The issue usually happens while trying to match **non-matching** clouds, therefore purely wrong keypoint correspondences.
Using Eigen 3.3.2

(might also be related to https://github.com/MIT-SPARK/TEASER-plusplus/issues/54 ?)

Relevant co

[2020-09-15 16:59] jingnanshi commented on #55
Thank you for reporting this issue @RiccardoGiubilato. I don't have much time recently, but I will check the code once my schedule frees up.

[2020-09-16 08:24] RiccardoGiubilato commented on #55
Thank you @jingnanshi

[2020-09-28 01:51] cdb0y511 opened #56 "Uncompitble with PCL-1.11.1 [BUG]"
**Describe the bug**
The example "teaser_cpp_ply.cc" works fine.
However, if I  add PCL_LIBRARIES:

target_link_libraries(${targetname}
        Eigen3::Eigen
        /usr/local/lib/libteaser_io.so
        /usr/local/lib/libteaser_registration.so
        ${PCL_LIBRARIES}
        )

The compile works, but Signal: SIGSEGV (Segmentation fault) comes out at the solve.solve() . It traces back to Eigen's

[2020-09-28 02:06] jingnanshi commented on #56
Hi, thank you for reporting the bug @cdb0y511. I won't have free time to investigate this unfortunately. Feel free to dive in the code and make a PR if you can.

[2020-09-28 02:40] cdb0y511 commented on #56
Thanks for the quick reply, If I have any progress I will let you know. For now, I will use a standalone version of teaserpp for the test.

[2020-10-02 14:03] Liuchongpei opened #57 "How to not print "Starting scale solver...""
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

Hello, I tried the python sample code in "Quick start". How can it not display the prompt message in the figure below? I haven't found the set parameters. Thanks in advance.

![2345截图20201002215130](https://user-images.githubusercontent.com/34116796/94931421-520f4680-04fa-11eb-85e9-b2d8cc680a74.jpg)

[2020-10-02 14:36] jingnanshi commented on #57
You need to edit the code to remove all the printing. Alternatively, try redirect std out to null in python:
[code]

[2020-10-04 12:57] #57 closed

[2020-10-27 08:03] narutojxl commented on #53
Hi @jingnanshi
Similar problem.
Build `teaser_cpp_fpfh` release and debug type, when run `OMP_NUM_THREADS=4 ./teaser_cpp_fpfh`,  the segment fault still exist.
* build teaser with PCL 1.9.1, BUILD_TEASER_FPFH = ON, not set build type(use the default setting: Release)
* `teaser_cpp_ply` example is OK.
* when gdb `teaser_cpp_fpfh`, the output is:

	(gdb) run
	Starting program: /home/jxl/Documents/st

[2020-10-27 15:09] jingnanshi commented on #53
@narutojxl Hi, thanks for reporting the bug. I won't have time to take a look until next week.

[2020-10-28 01:36] narutojxl commented on #53
It's OK :), thanks in advance!

[2020-10-28 05:39] qiaozhijian commented on #44
what's pmc? Could you please give a link?

[2020-11-16 04:08] jingnanshi commented on #50
Related to this: https://eigen.tuxfamily.org/bz/show_bug.cgi?id=632

[2020-11-16 05:24] #50 closed

[2020-11-18 10:46] zhxd050946 opened #63 "[QUESTION]When use teaser_solve to register Stanford HappyStand datasets, std::bad_alloc exception arise."
**Have you read the documentation?**

- [x] Yes
- [x] No - then this issue will be closed.

Post your theoretical questions / usage questions here.

[2020-11-18 11:00] #63 closed

[2020-11-20 12:42] LeeCH-736 opened #64 "How to get matching results with RGBD information"
I read excellent papers “TEASER: Fast and Certifiable Point Cloud Registration”, I have configured your code https://github.com/MIT-SPARK/TEASER-plusplus.
   However, how can I get the matching results (as shown in Fig. 8 and Fig. 18 of the above paper), which with RGB-D images? With the teaser_python_fpfh_icp, I can only get point cloud registration results without RGB information. Can you tell m

[2020-11-20 16:55] jingnanshi commented on #64
Hi @LeeCH-736 , thank you for your interests. Although we use RGB-D datasets in the paper, we do not use the RGB color information in our registration algorithm.

[2020-11-20 22:03] LeeCH-736 commented on #64
Thank you for your quickly reply.
But how to get/show Fig. 8 and Fig. 18 in paper “TEASER: Fast and Certifiable Point Cloud Registration”? That is, are Fig. 8 and Fig. 18 gotten/shown with your code https://github.com/MIT-SPARK/TEASER-plusplus? If this is true,  what are the processing steps with your code to get/show Fig.8 and FIg.18 ?
however, with the teaser_python_fpfh_icp, only point cloud ca

[2020-11-21 02:33] yuecideng commented on #64
Maybe you can use some 2D features descriptor (SIFT, SUFT, ORB. etc) to find correspoding points from RGBD images, and use TEASER algorithm to solve the matching result @LeeCH-736 .

[2020-11-21 04:26] jingnanshi commented on #64
@LeeCH-736 Hi, this repo does not contain the experiment / plotting code for Fig. 8 and Fig. 18.

[2020-11-21 21:12] #64 closed

[2020-11-21 22:36] jingnanshi commented on #55
@RiccardoGiubilato Do you mind share a set of data that causes this bug? Thanks.

[2020-11-21 22:37] jingnanshi commented on #54
@powerm Can you share the arguments you supplied to CMake for building TEASER++? Did you enable BUILD_TEASER_FPFH?

[2020-11-21 22:38] #45 closed

[2020-11-21 22:39] jingnanshi commented on #40
@int-smart Hi, you need to install PCL from source. The default PCL that comes with ROS does not play nicely with my current CMake setup.

[2020-11-22 08:32] adrian11655 opened #66 "question for RGBD"
Hi,
 so from some time I have been trying to run your Teaser++. I put  RGBD dataset obained by Kinect2 into Teaser++, unfortunately with teaser_python_fpfh_icp, i cannot get the registration results as shown in your paper.
first,  how to use color informaiton, as can be seen. In your paper, the registration results of RGBD dataset is very perfect.
second,  can you give me the code or tell me the d

[2020-11-22 16:13] jingnanshi commented on #66
Hi @adrian11655 , thank you for your interest. If you are referring to the 3DMatch experiments, we used 3DSmoothNet instead of FPFH descriptors. In addition, although the datasets are RGBD, we don't use color.

[2020-11-22 17:59] #40 closed

[2020-11-22 17:59] jingnanshi commented on #40
Feel free to reopen if you have more questions.

[2020-11-23 00:14] adrian11655 commented on #66
Hi, thanks for your reply.
However, the authors note in your paper, FPFH feature descriptors [1] are firstly used to establish putative correspondences. Therefore, which method (FPFH/3Dmatch) is used in fact?
It is strongly suggested to give a demo in GitHub for RGBD，which corresponds to the registration results in your paper.

Thanks

[2020-11-23 00:19] jingnanshi commented on #66
I think you are talking about the object localization experiment, not the 3DMatch experiment. In that case, FPFH features are used. This repo is for the C++ implementation only. If you are interested in the specifics of the experiments in the paper, please email us, and we can provide you with the experimental code.

[2020-11-23 00:20] jingnanshi commented on #66
You might also be interested in this: https://github.com/MIT-SPARK/TEASER-plusplus/tree/master/examples/teaser_python_fpfh_icp

[2020-11-23 05:26] adrian11655 commented on #66
@jingnanshi  Hi，thanks for your reply.  I am interested in the experiments of RGBD (Figure 8). i have sent you an email. please provide me with the experimental code of Figure 8. My email is adrian1122@yeah.net.
Thanks.

[2020-11-23 16:33] jingnanshi commented on #53
@narutojxl Hi, can you try with -DBUILD_WITH_MARCH_NATIVE=ON for TEASER++? PCL default uses -march=native, which causes seg faults in the FPFH example when I tried on my machine.

[2020-11-23 16:36] jingnanshi commented on #53
@willat343 @tpatten Can you also try building TEASER++ with -DBUILD_WITH_MARCH_NATIVE=ON? Thanks

[2020-11-23 18:53] jingnanshi commented on #44
@LAICHAO2018 @qiaozhijian You should be able to fix this by running `sudo ldconfig` after installing TEASER++.

[2020-11-28 05:51] cdb0y511 commented on #56
It still bothers me. When I enable -march = native, it works for some scene reconstruction. However, it gets a segment fault occasionally. I think it relates to Eigen alignment; I doubt the alignment of PCL 1.11.1 is different from  Teaser. So when they are linked together, memory fault happens occasionally.
omp_set_threads is set to 12 before running.

[2020-11-28 16:34] jingnanshi commented on #56
Can you try comment out https://github.com/MIT-SPARK/TEASER-plusplus/blob/159726a9587d40b6bb7ece78c1a8362d396a5f2f/teaser/include/teaser/registration.h#L36?

[2020-11-29 08:43] cdb0y511 commented on #56
No, it doesn't resolve the problem.
For more details
it fails like:

   free(): invalid next size (normal)
or
   Signal: SIGSEGV (Segmentation fault)

and usually, traces back to

registration.cc

   max_clique_ = clique_solver.findMaxClique(inlier_graph_);

graph.cc

    in.lb = maxclique.search(G, C);

and

  pmc::pmc_heu::serach_bounds(pmc::pmc_graph&, std::vector<int, std::allocator>>&)

[2020-11-29 09:27] cdb0y511 commented on #56
or after solver.reset(param)
trace back to

  __GI_raise 0x00007f32dd4d8fb7
__GI_abort 0x00007f32dd4da921
__libc_message 0x00007f32dd523967
malloc_printerr 0x00007f32dd52a9da
_int_free 0x00007f32dd53219d
__GI___libc_free 0x00007f32dd53219d
__gnu_cxx::new_allocator<int>::deallocate new_allocator.h:125
std::allocator_traits<std::allocator<int> >::deallocate alloc_traits.h:462
std::_Vector_base<int,

[2020-11-29 11:53] #56 closed

[2020-12-05 18:11] silviadonzelli opened #68 "Error teaser_cpp_fpfh"
**Have you read the documentation?**

- [x ] Yes
- [] No - then this issue will be closed.

Good morning,
 I have the following problem when I try to start the example Teaser_cpp_fpfh example:
CMake Error at CMakeLists.txt:12 (add_executable):
  Target "teaser_cpp_fpfh" links to target "teaserpp::teaser_features" but
  the target was not found.  Perhaps a find_package() call is missing for an
  IM

[2020-12-05 20:31] jingnanshi commented on #68
Did you run make install to install TEASER++?

[2020-12-05 20:36] silviadonzelli commented on #68
Yes!
The teaser_cpp_ply runs correctly but teaser_cpp_fpfh gives me this error and I don’t know Why. It doesn’t find the teaser_features, while it finds the other without problems. I also tried to reinstall it but it gives me always this error. What could I do?

[2020-12-05 21:28] jingnanshi commented on #68
Can you try changing `teaserpp::teaser_features` to `teaser_features`? There might be a bug in the CMake script.

[2020-12-05 21:45] silviadonzelli commented on #68
Thank you for your feedback, Now I changed this line in the CMake script, but, while the cmake .. command runs without problem, when I run the make command I receive the folowing error:
/usr/bin/ld: impossibile to found -lteaser_features
collect2: error: ld returned 1 exit status
make[2]: *** [CMakeFiles/teaser_cpp_fpfh.dir/build.make:161: teaser_cpp_fpfh] Error1
make[1]: *** [CMakeFiles/Makefile2

[2020-12-07 10:59] coreos-xx commented on #68
Exactly the same problem here.
I get the same error too!
usr/bin/ld: cannot find -lteaser_features
collect2: error: ld returned 1 exit status

[2020-12-08 01:45] jingnanshi commented on #68
Try the following things:
1. run `sudo ldconfig`
2. if the above doesn't fix it, run `locate teaserppTargets.cmake` and see whether the file exists.

[2020-12-08 09:15] silviadonzelli commented on #68
I tried and `sudo ldconfig ` didn’t solve.
‘Locate teaserppTargets.cmake’ returns the following: home/user/TEASER-plusplus/build/teaser/CMakeFiles/Export/lib/cmake/teaserpp/teaserppTargets.cmake
And usr/local/lib/cmake/teaserpp/teaserppTargets.cmake

[2020-12-08 10:14] coreos-xx commented on #68
Hi Jing and Silvia,
I tried also `sudo ldconfig` but it didn't compile.
But i found a work around,
Go to the teaser built folder and rebuild with
`cmake .. -DBUILD_TEASER_FPFH=ON && make`
and then
`sudo make install`
Then the "teaser_cpp_fpfh.cc" should compile. If not try `sudo ldconfig` and then compile again.

[2020-12-08 10:46] silviadonzelli commented on #68
Thank you very much! It works:)

[2020-12-08 18:07] jingnanshi commented on #68
Good catch! I forgot to check with you guys about the CMake options.

[2020-12-08 18:07] #68 closed

[2020-12-09 01:27] #66 closed

[2020-12-11 06:58] negarl commented on #42
Hi, I am wondering if you finished the certification documentation ?
thanks

[2020-12-13 20:54] chuong98 opened #69 "[QUESTION] error: ‘eigen_assert_exception’ is not a member of ‘Eigen’"
**Have you read the documentation?**

- [X] Yes
- [] No - then this issue will be closed.

Post your theoretical questions / usage questions here.
I follow the install pipeline,
[code]
but get following Error
[code]

My System config:
+ Ubuntu18.4
+ Cuda 10.2
Thank you for your help.

[2020-12-13 23:17] jingnanshi commented on #69
This seems to be a problem in your Eigen installation. See this: https://forums.opensuse.org/showthread.php/546430-openMVS-failed-to-build-possible-bug-in-Eigen3 and this: https://bugs.archlinux.org/task/68118. You might need to include Eigen yourself, or wait for an update in the Ubuntu repo.

[2020-12-15 02:06] chuong98 commented on #69
Hi thank you.
+ You are right, after installing the new release Eigen3, I can build it:
[code]
+ After that, running the test script gives me the error `core_dump`. I follow the issue #1 and it works now:
`OMP_NUM_THREADS=12 python teaser_python_ply.py`

[2020-12-15 02:06] #69 closed

[2020-12-16 07:14] cdb0y511 opened #70 "[Algorithm failure] serious Memory leak on middle size point cloud, need help."
Technically, It should not consider as a bug,  more like an algorithm failure.
I compare Teaser++ with ICP kind registration like the T-RO.
ICP kind method can handle 50k points (nearest point correspondence ) with no problem.
However, Teaser++ was crushed with a huge memory leak.
I trace it to

registration.cc

       computeTIMs(const Eigen::Matrix<double, 3, Eigen::Dynamic>& v,

[2020-12-16 08:11] cdb0y511 commented on #70
I realize it needs a lot of memory to create the graph,  a lot of memory to store the edge information.

        // Calculate some important indices
        // For each measurement, we compute the TIMs between itself and all the measurements after it.
        // For example:
        // i=0: add N-1 TIMs
        // i=1: add N-2 TIMs
        // etc..
        // i=k: add N-1-k TIMs
        // And by

[2020-12-16 18:46] jingnanshi commented on #70
Hi @cdb0y511, thank you for your interest and feedback. By design, TEASER++ is unfortunately not very memory efficient. As you noticed, in order to build the graph we check for all possible combinations of the input correspondences.

I will instead suggest significantly reduce the size of the inputs. You should view inputs to TEASER++ as **3D point correspondences**, not raw 3D points. You should

[2020-12-24 06:30] chuong98 opened #71 "[QUESTION] How to suppress the Debug Info on Console"
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

Post your theoretical questions / usage questions here.
Is there any way to turn off the output on console, when calling `solver.solve()`. Here is the typical output:
[code]
Thank you.

[2020-12-29 16:02] jingnanshi commented on #71
Hi @chuong98 : sorry for the late reply, unfortunately these messages are mostly print by the PMC library. You need to manually remove those print statements. To suppress messages print by TEASER++, pass `ENABLE_DIAGNOSTIC_PRINT=OFF` to CMake.

[2020-12-29 16:08] chuong98 commented on #71
Thabk you.

[2020-12-30 05:33] #71 closed

[2021-01-07 09:14] IDEA-V opened #72 "[BUG] Max clique equal to zero and abort when using descriptors generated by 3DSmoothNet on my own data"
I generate descriptors with 3DSmoothNet on my own data.
The ply contains 271467 points and I randomly choose 5000 keypoints from them
[data.zip](https://github.com/MIT-SPARK/TEASER-plusplus/files/5780614/data.zip)

[code]

Do you have any ideas about why this is happenning

[2021-01-07 19:36] jingnanshi commented on #72
@IDEA-V Thanks for reaching out. After you have the keypoints, did you use nearest-neighbor matching to select out matching correspondences based on 3DSmoothNet features? TEASER++ won't do anything if you just straightly feed 5000 keypoints into it.

[2021-01-08 07:03] IDEA-V commented on #72
I use the script provided by you
[teaser_python_3dsmooth.py](https://github.com/MIT-SPARK/TEASER-plusplus/blob/master/examples/teaser_python_3dsmooth/teaser_python_3dsmooth.py)

It uses the .npz file generated by 3DSmoothNet after the inference step.

[2021-01-11 18:53] jingnanshi commented on #72
Check what are the returned values on this line: https://github.com/MIT-SPARK/TEASER-plusplus/blob/4a14392e1315551fd507ec1ecc07743709636099/examples/teaser_python_3dsmooth/teaser_python_3dsmooth.py#L299

They should be containing points fewer than 5000.

[2021-01-14 09:02] IDEA-V commented on #72
I have found that this is a 3DSmoothNet problem. I have solved it, https://github.com/zgojcic/3DSmoothNet/issues/38#issuecomment-760021491

So I am closing up this issue.

[2021-01-14 09:02] #72 closed

[2021-01-15 09:31] AdamPengG opened #73 "Hi, I have intalled the TEASER in the Ubuntu16.04 and there are some problem with python when I installed"
Hi,
I installed the TEASER in the Ubuntu 16.04 and Installed the python3.6.4 and conda2020.
The C++ part is ok.  However, when I installed the python part.
`cmake -DTEASERPP_PYTHON_VERSION=3.6 .. && make teaserpp_python`
Then the terminal shows that :
[code]
Which part is wrong?

[2021-01-15 09:40] AdamPengG commented on #73
I have solved the problem, thank you sir

[2021-01-15 15:14] #73 closed

[2021-01-15 20:05] #70 closed

[2021-01-17 10:08] banbanhank opened #74 "The Result of Certification Problem"
Hi, when I tried the performance of certification, the η which the certification estimated was not good. I think the η value is between 0 and 1, but the result is 1233.39. **I would like to know if I run the code in wrong way. Is the theta value I gave right?**
The program of cetification is shown below:
[code]
![](https://i.imgur.com/ZVydZTW.png)

---

## The steps how I find the transformation

[2021-01-17 17:45] hankyang94 commented on #74
Hi, in order to use the certification module, some preprocessing is required to pass the correct problem formulation to the solver.

Essentially, the certification module tries to certify the “rotation” sub-problem (aka the robust Wahba problem). Therefore, instead of passing the entire point clouds, one needs to pass the translation-invariant measurements (TIMs) for certification:

[code]

Where

[2021-01-19 11:51] banbanhank commented on #74
@hankyang94, thanks a lot for your reply. I had corrected my input. I replaced the source cloud and target cloud with the TIMs of source and target like below:
[code]
And the result is shown below:
![](https://i.imgur.com/5kzlh8R.png)
The best suboptimality is 72.7375 and it is much smaller than before. However, I think the value should be between 0 and 1. I would like to know if there are still o

[2021-01-19 18:52] jingnanshi commented on #74
@banbanhank Try manually convert `theta` to an Eigen matrix with double type. There might be a bug in the interface that takes in the bool matrix.

[2021-01-20 07:10] banbanhank commented on #74
@jingnanshi, I have tried to manually convert `theta` to an Eigen matrix with double type. However, the problem is still the same.
Here is my program shown below:
[code]
Do you mind to try my program and my data if you have time, please? I would like to know how to let the certification module run successfully. Thanks.
[teaser_demo.zip](https://github.com/MIT-SPARK/TEASER-plusplus/files/5840675/te

[2021-01-20 16:51] hankyang94 commented on #74
@banbanhank I have tried your data, and I believe the reason why DRS certifier failed on your problem is because your input point cloud is not normalized.

Below I attached a visualization of the translation-invariant measurements (TIMs) from your data, notice that because the input point cloud is not normalized, the range of the coordinates is about 200, which does not match the assumption in the

[2021-01-24 16:51] banbanhank commented on #74
@hankyang94, thank you very much.
I have a question. When I'm trying to do registration on lidar scans from two different scanning time, the certification process is confusing. I realized that I have to normalize the point cloud before calculating the η value. However, the upper and lower bound of two scans are different. I wonder which value should I  use on normalizing the input of teaser++, or

[2021-01-24 17:56] hankyang94 commented on #74
I think a good idea is to use the maximum of the two upper bounds. Basically you want to apply the same scaling/normalization to both scans so that both of them fit inside a unit cube.

[2021-01-26 10:10] hamid54 opened #75 "teaser_python_3dsmooth example"
Hi,
teaser_python_3dsmooth example does not work. I have a ubuntu 20.04. I followed the given instruction but when I ran teaser_python_3dsmooth, first it asked for pandas and flyfile packages, and then it gave me this error:
`Traceback (most recent call last):
  File "teaser_python_3dsmooth.py", line 345, in <module>
    scene_path, desc_path, gt_mat, pair[0], pair[1]
  File "teaser_python_3dsmoot

[2021-01-26 13:03] jingnanshi commented on #75
Hi @hamid54 , thank you for your interest. Can you try with open3d version = 0.10.0?

[2021-01-27 01:45] narutojxl opened #76 "find_package()"
Hi author,
After make installed teaser in `/usr/local/`,  when using in other project CMakeLists.txt with `find_package(teaserpp REQUIRED)`,
it comes out:

	CMake Error at hdl_global_localization_noted/CMakeLists.txt:45 (find_package):
	  By not providing "Findteaserpp.cmake" in CMAKE_MODULE_PATH this project has
	  asked CMake to find a package configuration file provided by "teaserpp",
	  but CM

[2021-01-27 09:30] hamid54 commented on #75
Hi, @jingnanshi thank you for the response!
I tried with open3d 0.10.0, but nothing changed.

[2021-01-27 16:43] jingnanshi commented on #75
@hamid54 try 0.9.0.0. This should work.

[2021-01-27 18:15] hamid54 commented on #75
@jingnanshi the first try was 0.9.0.0. Then, after your previous comment, I tried 0.0.10. The result did not change and the error message was the same. Thank you!

[2021-01-28 03:11] Liys0558 commented on #54
I have the same problem. How to solve?

[2021-01-28 04:17] jingnanshi commented on #54
@Liys0558 please open a new issue with the exact steps you used to build TEASER++ & run the example. Thank you.

[2021-01-28 19:58] jingnanshi commented on #75
@hamid54 please check again whether you have actually installed open3d 0.9 correctly. On my machine both 0.9 and 0.10 has module registration

[2021-02-02 15:01] jingnanshi commented on #76
Hi @narutojxl , thanks for reporting this issue. Will take a look soon.

[2021-02-03 01:48] narutojxl commented on #76
Hi @jingnanshi, thanks author :)

[2021-02-04 18:41] idhamari commented on #44
I had the same error and using

               sudo ldconfig

solved it. Probably, it should be added to the installation instruction part.

[2021-02-04 18:50] jingnanshi commented on #44
@idhamari Thanks for reporting. Will add it to our documentation.

[2021-02-05 15:02] idhamari commented on #32
I have exactly the same problem, I think it would be nice if you add more comments to explain this in the python example.

[2021-02-09 09:05] agroenenberg commented on #47
Hi, any updates on how to improve this? I have the exact same problem, the position is found most of the time, however, the rotation estimation is poor. Learning isn't an option for my application either. Is there any feature extraction tool that you found that worked best for a CAD model to cluttered scene registration? Thanks!

[2021-02-10 08:36] agroenenberg commented on #47
Thanks for the quick reply, the fpfh descriptor generated 796 correspondences from which 238 were considered inliers according to `len(solver.getTranslationInliersMap())`. Still, no proper rotation. I'm already using ICP after Teaser.

[2021-02-21 07:50] silviadonzelli opened #77 "Trying Teaser++ with two .ply files: How can I do?"
**Have you read the documentation?**

- [x ] Yes
- [] No - then this issue will be closed.

Good Morning,
I'm trying to use Teaser++. I would like to use it with my .ply files.
I opened one file, I removed the Nan values and when I tried it with the T transformation, it worked perfectly.
Now, I want to see the differences between the first and the second point cloud. I removed the Nan values in th

[2021-02-21 23:07] jackjansen opened #78 "PyPi package available and/or planned?"
**Have you read the documentation?**

- [x] Yes - insofar as relevant to the question:-)
- [ ] No - then this issue will be closed.

I have looked for a PyPi package, but it seems that it isn't available. So my first question is: did I not look hard enough?

And if I did look hard enough: is a PyPi package on the radar?

And if it isn't: _if_ it turns out that a PyPi package is a reasonable soluti

[2021-02-22 00:51] jingnanshi commented on #78
Hi @jackjansen , no the package is not on PyPi. I'll certainly welcome any pull request that can make this happen :)
Currently, you can install the python binding locally after compilation, see the documentation for details.

[2021-02-22 02:05] jingnanshi commented on #77
So for any ply files, you need to first use some feature matchers to generate correspondences. Then, you pass the correspondences to TEASER++ for solving. Please take a look at the documentation website for examples.

[2021-02-22 08:22] silviadonzelli commented on #77
Thank you, but I have a question:
Do we generate correspondences in this line, right? With fpfh

  teaser::Matcher matcher;
  auto correspondences = matcher.calculateCorrespondences(
      src_cloud, dst_cloud, *obj_descriptors, *scene_descriptors, false, true, false, 0.95);

[2021-02-22 13:04] manhha1402 commented on #73
Hi @AdamPengG,
I have the same issue. How could you solve it?
Thank you

[2021-02-22 15:56] jingnanshi commented on #77
Yes, that looks about right.

[2021-02-22 15:57] jingnanshi commented on #73
@manhha1402 Make sure to enable a conda environment (or any virtual environment) that has the appropriate python interpreter in the PATH variable.

[2021-02-23 12:41] jackjansen commented on #78
Yes, that is what I am doing at the moment, and that's fine for manual installation, but for our multiplatform CI/CD it's a hassle. I will have a look, time permitting, and I'll give you a pull request if I can make it work.

cc: @nachoreimat

[2021-02-23 16:40] saijadhav9496 opened #79 "Performance worse than RANSAC"
**Have you read the documentation?**

- [x] Yes
- [] No - then this issue will be closed.

I am implementing TEASER in python for pose estimation. I provided 1000 correspondences generated by FCGF features for two similar point clouds with approximately 5000 points with random rotation and translation added. TEASER's performance is consistently worse than RANSAC for the same correspondences. I hav

[2021-02-23 19:54] jingnanshi commented on #79
Hi @saijadhav9496 thank you for your interest. You need to provide more information for me to help you. Please provide some code snippet showing how you perform the tests, and take a look at this as well https://github.com/MIT-SPARK/TEASER-plusplus/tree/master/examples/teaser_python_fpfh_icp.

[2021-02-24 05:40] tsigit opened #80 "CMake Error at teaser/CMakeLists.txt:21 (add_library): (Python bindings on Win10)"
When running the command
`cmake .. `
from C:\Program Files\TEASER-plusplus\build on Windows10 (Python3.6.2-64bit, Visual Studio 15 2017 Win64)

all the other builds (googletest, pmc, spectra, tinyply) run without error, except for the pybind11, which throws lot of CMake Error like this one

[code]
and all subsequent commands for installing python bindings of Teaser++ on Windows fails

[2021-02-25 01:38] jingnanshi commented on #80
Hi @tsigit , thank you for your interest. The error looks like something related to the Eigen library. I'm not familiar with Windows 10 so you probably need to figure this out yourself.

[2021-02-25 10:32] tsigit commented on #80
Thanks @jingnanshi
I followed some of the steps from [here](https://github.com/zhongjingjogy/use-eigen-with-cmake) and have been able to get through the Cmake and Eigen errors

[2021-02-26 14:18] silviadonzelli commented on #77
I found that my problem is in this line of registration.cc:

If I comment it, the code works fine, but what could be the problem?
Thank you in advance

[2021-03-03 03:11] jingnanshi commented on #79
Closing due to no further replies.

[2021-03-03 03:11] #79 closed

[2021-03-03 18:40] #74 closed

[2021-03-03 18:40] #80 closed

[2021-03-03 18:42] jingnanshi commented on #77
Are you feeding the same number of points in source and target point clouds? You should compile it in debug mode to see more detailed error messages.

[2021-03-05 14:13] parth52 opened #84 "attribute error RobustRegistrationSolver in windows rest of installed"
i have installed all things in windows python anaconda but after installed this correctly
there is error of attribute error that teaserpp_python doesnt have RobustRegistrationSolver

thanks

[2021-03-05 15:38] adrian11655 opened #85 "[QUESTION] Angle error computation?"
Hello,
The following is the angle error calculation function in the code. Is this method of calculating angle error reasonable?
Three true (expected) Euler angles (true_theta1, true_theta2, true_theta3), are known, and three estimated Euler angles (estimated_theta1, estimated_theta2, estimated_theta3) can be computed through the estimated Rotation Matrix. Why is the total angle error not calculate

[2021-03-05 21:27] jingnanshi commented on #85
@adrian11655 Thank you for your interest. What you said, while is a rough estimate, is typically not used, because there are different definitions of Euler angles, and it is not clear which definition you are using. The angular error we are using follows directly from the definition of geodesic distance in SO(3). Geometrically, it is equivalent to the angle of rotation around some axis in 3D. See

[2021-03-06 01:18] adrian11655 commented on #85
Thank you very much.

[2021-03-06 01:18] #85 closed

[2021-03-07 14:41] saikishor opened #86 "[QUESTION] Finding the transform of an object in a point cloud scene"
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

Hello,

First of all, thank you for such a great work. It is pretty impressive. I am trying to understand how to use TEASER with my use case. I would like to get the transform to a particular object in a scene. I have a .pcd info of my object of interest and I have a wholesome pointcloud with not only the o

[2021-03-08 14:25] jingnanshi commented on #86
Hi @saikishor , one way to do what you said is to use an object detector to first locate your object of interest in the 3D scene. Then, use the segmented points with a feature extraction algorithm to calculate the feature points, and then match the calculated features with those of the object model you have.

[2021-03-08 14:38] saikishor commented on #86
@jingnanshi Thanks for a quick response.
The thing is I already have an isolated cloud of the object from the object detection as you mentioned, but how can I extract these features. I am not sure how to extract the proper features from my cloud and the template cloud I have.

Could you explain me how I can do that with the TEASER plusplus?

[2021-03-08 14:42] jingnanshi commented on #86
@saikishor TEASER++ has bindings for using PCL FPFH features. In addition, there are other libraries that you can use (for example https://github.com/PointCloudLibrary/pcl and www.open3d.org/) to get features.

[2021-03-08 14:45] saikishor commented on #86
OK i will give it a shot. Thank you.

[2021-03-09 12:18] parth52 opened #87 "how to generate keypoints/.npz/gt log file for my custom .ply files"

[2021-03-09 18:50] jingnanshi commented on #87
@parth52 I assume you are talking about 3DSmoothNet and the 3DMatch dataset. Please visit their respective webpages as they have relevant instructions there.

[2021-03-09 18:50] #87 closed

[2021-03-13 05:44] willat343 commented on #53
hi @jingnanshi, my apologies for the long delay. Good news! After reinstalling (even in Release, which was very problematic before) and running the example several times with `./teaser_cpp_fpfh` and `OMP_NUM_THREADS=4 ./teaser_cpp_fpfh`, I experience no seg faults or unexpected behaviour.

I buiilt/installed teaser with:
[code]

This could be a good opportunity for some CMake magic. The BUILD_WITH

[2021-03-13 12:39] jingnanshi commented on #53
@willat343 Thanks for reporting. I'll add a note in the documentation and print out some warning messages in CMake.

[2021-03-16 13:43] Dostoyewski commented on #75
It will work with the latest version of Open3D.

[2021-03-19 08:32] zzodo commented on #53
Hi, I still have an issue with my program using TEASER++.
I have tried all the methods described in earlier comments, but a segmentation fault error occurs when calculating FPFH features with TEASER++ wrapper.
The exact code line is:
`auto descriptors1 = fpfh.computeFPFHFeatures(teaser_pcd1, 0.30, 0.50);`
This behavior only occurred in release mode, not debug mode.

Any solutions?

[2021-03-19 14:24] jingnanshi commented on #53
Hi @zzodo, it looks like there might be some undefined behaviors in the code. For a temporary fix, you should instead compute FPFH features using PCL directly and pass the matched correspondences to TEASER++.

[2021-04-08 15:04] jingnanshi commented on #84
Hi @parth52 , do you mind post the exact steps you used to install on Windows? Thanks.

[2021-04-12 18:30] hobu opened #91 "[BUG] Teaser installs all external projects"
All of the external projects are installed in CMAKE_INSTALL_PREFIX when Teaser is built and installed. I am currently packaging for @conda-forge,  tinyply, googletest, pybind11, pmc, and spectra should not be installed by Teaser.

Would you merge a patch rectifying this issue?

[2021-04-12 18:52] jingnanshi commented on #91
Yes that will be great, thanks @hobu !

[2021-04-14 08:34] david-ngo-sixense opened #92 "[QUESTION] test on two ply but the result is not good"
[clouds.zip](https://github.com/MIT-SPARK/TEASER-plusplus/files/6309399/clouds.zip)

Thanks for your code and paper. It is very interesting.
I installed teaser++ on windows (with some modifications). I got the two examples (*.cc) running.
I tested on two point cloud with teaser_cpp_fpfh but the result was not good (the point cloud is so simple and symmetric).
I think the performance depends on key

[2021-04-16 10:49] silviadonzelli opened #93 "Use PCL::Visualization with Teaser result"
Hi,
I want to see my result using pcl::visualization but I'm a little bit confused. With SAC-IA, I can visualize sac_ia as the result of sac_ia.align(*cloudSac), but with Teaser++ what can I use?
I use c++.
Thank you in advance.

[2021-04-16 14:16] jingnanshi commented on #93
Hi @silviadonzelli , we don't provide visualization capability in C++. You need to either write your own code to visualize using PCL:visualization, or use the Python interface and visualize the points using Open3D.

[2021-04-16 23:44] jingnanshi commented on #92
Hi @david-ngo-sixense , you need to first generate correspondences & then feed the correspondences to TEASER++. I recommend you to use the Python interface together with Open3D so that you can test different feature detectors and select the best combination.

[2021-04-17 16:57] david-ngo-sixense commented on #92
Hi @jingnanshi , thanks for your reply.
I installed your teaser++ (c++ version, on a windows machine) and used it sucessfully for a C++ project.
Yes, I want to use the python interface, but I can't install the python wrapper.

`(Pytorch) C:\dev\TEASER-plusplus\build\python>pip install .
Processing c:\dev\teaser-plusplus\build\python
Building wheels for collected packages: teaserpp-python
  Buildin

[2021-04-17 17:38] jingnanshi commented on #92
Make sure when you compile the C++ project you turn on BUILD_PYTHON_BINDINGS

[2021-04-17 17:42] silviadonzelli commented on #93
Hi, thank you. So, with my Rotation and Translation I could do the Rototranslation matrix and then? I have the code to visualize point cloud but I don't know how use Teaser result.
How can I do?
Thank you very much,

[2021-04-23 03:16] MichaelWang1028 opened #94 "Question about the generation of "rotation_pruned_src" and "rotation_pruned_dst""
Hi,
I have a question about the generation of "rotation_pruned_src" and "rotation_pruned_dst", why are they still generated by the result of max clique algorithm "max_clique_", but not the inliers from the rotation solver "rotation_inliers_"?

Thank you in advance.

![image](https://user-images.githubusercontent.com/24295408/115812485-0be0ec80-a424-11eb-8508-c42b897022c8.png)

[2021-04-23 07:50] s20163081161 opened #95 "[QUESTION]libpmc.so: cannot open shared object file: No such file or directory"
When I run ./teaser_cpp_ply, i got "error while loading shared libraries: libpmc.so: cannot open shared object file: No such file or directory"

But I can find libpmc.so in the directory "TEASER-plusplus/build/pmc-build".

Whta's wrong ?

[2021-04-23 14:19] jingnanshi commented on #95
Try run `sudo ldconfig`

[2021-04-23 14:23] jingnanshi commented on #94
Hi @MichaelWang1028 , the naming for the variables are a bit confusing, but essentially through experiments we realized that if we feed the inliers from rotation solver to the translation solver, that will actually leads to worse translation estimate than using the max clique inliers in some cases.

[2021-04-23 16:27] s20163081161 commented on #95
include(ExternalProject)
ExternalProject_Add(**pmc**
        GIT_REPOSITORY    https://github.com/pybind/**pybind11**.git

In the file "pybind11.CMakeLists.txt.in"，the name seems to be wrong ?

[2021-04-23 17:26] jingnanshi commented on #95
Good catch! You can try changing `pmc` to `pybind11` and see whether it solves this issue.

[2021-04-27 04:15] s20163081161 commented on #95
@jingnanshi
Using a pointcloud whose size is 16328, I got stuck in the step "max_clique_ = clique_solver.findMaxClique(inlier_graph_);" and finally was killed.

The algorithm do not allow big pointclouds ???

[2021-04-29 14:53] chris9182 commented on #54
I am was having similar issues and resolved this by calling the executable with the prefix `OMP_NUM_THREADS=12`, example: `OMP_NUM_THREADS=12 ./teaser_cpp_ply` .
Is there any way to make this work with more than 12 threads?

[2021-04-29 15:06] jingnanshi commented on #54
@chris9182 The bug is in the PMC library we are currently using for max clique finding. I'm still working on a fix (and by fix I mean actually locating the bug :( ), but currently OMP_NUM_THREADS=12 is the only solution.

[2021-04-29 17:33] #94 closed

[2021-04-29 17:33] jingnanshi commented on #95
@s20163081161 TEASAER++ takes in correspondences, not raw points. You need to use a feature detector and matcher to find correspondences.

[2021-05-06 21:11] kidpaul94 opened #96 "Ctest (Test #18) failed"
Hi, thank you for the great work.
I'm merely following the documentation about compilation and installation, and encountered this error:

    98% tests passed, 1 tests failed out of 48

    Total Test time (real) =  32.66 sec

    The following tests FAILED:
	     18 - RegistrationTest.SolveRegistrationProblemDecoupled (SEGFAULT)
    Errors while running CTest

I'm not sure where this error comes

[2021-05-06 22:50] kidpaul94 commented on #96
OMP_NUM_THREADS=12 was still the only solution for this.

[2021-05-06 22:50] #96 closed

[2021-05-08 18:48] jingnanshi commented on #96
@kidpaul94 thank you for reporting the issue. You are correct, unfortunately using 12 threads is still the only solution.

[2021-05-25 08:18] manhvuvan281 commented on #18
I tried on Intel CPU : OK,
but on AMD CPU: corrupted (malloc).
Anyone have an idea?

[2021-05-25 11:14] manhvuvan281 commented on #18
For AMD CPU users,
Code:
	import os
	os.environ["OMP_NUM_THREADS"] = "4"
Terminal:
	export OMP_NUM_THREADS=4  #~ Max thread
	#echo $OMP_NUM_THREADS     #show 4
        python ./filename.py

[2021-05-26 01:15] tkzky opened #98 "[pybind11]"
when i run `cmake.. `, there is an error:

`fatal: unable to access 'https://github.com/pybind/pybind11.git/': gnutls_handshake() failed: The TLS connection was non-properly terminated.
正克隆到 'pybind11-src'...
fatal: unable to access 'https://github.com/pybind/pybind11.git/': gnutls_handshake() failed: The TLS connection was non-properly terminated.
正克隆到 'pybind11-src'...
fatal: unable to access 'h

[2021-05-26 01:40] #98 closed

[2021-05-26 12:18] tkzky opened #99 "[QUESTION]Trying Teaser++ with two .ply files"
The code is very amazing!
But when I try Teaser++ with two .ply files, it aborts during the method solve.
Can provide some some tutorials about how to use 3DSmoothNet to generate correspondences?
Thank you!

[2021-05-26 14:26] jingnanshi commented on #99
@tkzky take a look at this file: https://github.com/MIT-SPARK/TEASER-plusplus/blob/master/examples/teaser_python_3dsmooth/teaser_python_3dsmooth.py

[2021-05-26 22:31] bhaines-castlepeak opened #100 "[BUG] build teaser++ and run ctest == error #18"
**Describe the bug**
I am attempting to run ctest after building.  All tests pass on two different machines (iMac and Ubuntu box).  Both fail the same test #18.  I'm looking for suggestions what I might be doing wrong??

Thank you for any insights you can offer!

cmake and make completed with no errors.

**Have you run the unit tests?**
yes.

**Installed Dependencies**
Ubuntu 20.04.2 LTS
64G memor

[2021-05-27 07:14] tkzky commented on #99
Thanks for your reply!
But when i reproduce the GIF,  after "python teaser_python_3dsmooth.py", there is an error:
"==================================================
        TEASER++ Python registration example
==================================================
TEASER++ Parameters are: <Params with noise_bound=0.05
cbar2=1
estimate_sccaling=0
rotation_estimation_algorithm=GNC-TLS
inlier_selection

[2021-05-31 14:03] #93 closed

[2021-06-07 14:21] hrshovon opened #101 "[QUESTION]"
hello,
I am running TEASER plus plus on Ubuntu 20.04. Python version is 3.8.10.
The code was build using the following cmake command:
`cmake -DBUILD_TEASER_FPFH=ON -DBUILD_PYTHON_BINDINGS=ON -DTEASERPP_PYTHON_VERSION=3.8 -DBUILD_WITH_MARCH_NATIVE=ON -DENABLE_DIAGNOSTIC_PRINT=ON ..`
Here is my code teaser_merger.py

[code]

I have tried to transform both source and destination clouds. But it did no

[2021-06-07 14:43] #101 closed

[2021-06-07 14:43] hrshovon commented on #101
it seems i had some mistake in my code. Closing this issue

[2021-06-29 12:33] russellyq commented on #99
Hi,

I got the same error. Did you fix it ?

Thanks.

[2021-06-29 18:28] jingnanshi commented on #99
@russellyq @tkzky can you report the version of pybind11 you have installed? Thanks

[2021-06-29 19:20] jingnanshi commented on #100
Hi @knoname thanks for reporting the bug. I've seen the same issue before unfortunately I could not isolate the cause within reasonable time. Feel free to take a look yourself and I welcome any PR.

[2021-06-30 06:35] russellyq commented on #99
It is the same version in your packages. V2.4.3

[2021-07-01 08:47] oldwalkman commented on #77
Do the number of points in source and target point clouds must be the same?

[2021-07-01 14:51] jingnanshi commented on #77
@oldwalkman The inputs to TEASER++ should be correspondences between 2 point clouds. In other words, you can have 2 clouds of different sizes, but you have to extract N correspondences, and feed the N pairs of points (as two point clouds / Eigen matrices) into TEASER++.

[2021-07-02 01:46] oldwalkman commented on #77
Thanks very much, in the other words as I understand, when feeding raw pointcloud without correspondences or feature extraction, the size or the point number of the two poindcloud must be the same.

[2021-07-02 14:31] jingnanshi commented on #77
@oldwalkman Yes, and you need to manually generate all-to-all correspondences, otherwise it is not likely going to work. By all-to-all correspondences, I mean if you have N points, you need to generate N*(N-1) pairs of points.

[2021-07-06 11:09] yukailin-git opened #102 "The teaser_python_3dsmooth.py issue"
==================================================
        TEASER++ Python registration example
==================================================
TEASER++ Parameters are: <Params with noise_bound=0.05
cbar2=1
estimate_sccaling=0
rotation_estimation_algorithm=GNC-TLS
inlier_selection_mode=PMC_EXACT

Starting scale solver.
Scale estimation complete.
Max core number: 76
Num vertices: 841
*** [pmc he

[2021-07-06 14:02] jingnanshi commented on #102
related #99

[2021-07-06 14:03] jingnanshi commented on #102
HI @yukailin-git thanks for your interest. I will take a look soon.

[2021-07-09 07:17] SharineLee opened #103 "Target "teaser_cpp_fpfh" links to target "teaserpp::teaser_features" but the target was not found[BUG]"
TEASER-plusplus/examples/teaser_cpp_fpfh/build$ cmake ..

-- Configuring done
CMake Error at CMakeLists.txt:14 (add_executable):
  Target "teaser_cpp_fpfh" links to target "teaserpp::teaser_features" but
  the target was not found.  Perhaps a find_package() call is missing for an
  IMPORTED target, or an ALIAS target is missing?

-- Generating done
-- Build files have been written to: /home/sharin

[2021-07-09 13:20] b15h0y commented on #54
I am having the same issue while running the python example. Is there is a way to fix it for python ? the cpp version works in my case without setting `OMP_NUM_THREADS`

[2021-07-09 15:14] b15h0y commented on #103
dealing with the same issue, any ideas how to solve it?

[2021-07-09 15:44] b15h0y commented on #103
solved it , you have to rebuild the library with `BUILD_TEASER_FPFH=ON` . it's turned `OFF` by default [Here](https://teaser.readthedocs.io/en/master/installation.html#available-cmake-options).

[2021-07-10 17:05] jingnanshi commented on #103
@b15h0y yes that's correct. Thanks for your reply.

[2021-07-10 17:05] #103 closed

[2021-07-12 16:42] b15h0y opened #104 "[QUESTION] Downsampling big clouds to find correspondences?"
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

Is there a way to down-sample a point cloud with teaser++? I was calculating the correspondences between clouds and it takes a lot of time (3 h)!

[code]

[2021-07-12 17:29] jingnanshi commented on #104
@b15h0y The FPFH correspondence computation module included in the TEASER++ repo is very rudimentary, and it does not have downsampling functions. For downsampling, I recommend either use PCL in C++, or Open3D in python.

[2021-07-12 17:55] b15h0y commented on #104
It would be really helpful to extend the Utils function in TEASER++ with methods to do conversions of point clouds to other libraries classes like `pcl::PointCloud<TYPE>::Ptr` or even an Eigen matrix to handle transformations better. So in a scenario like the one I am facing or in real application where the point cloud is huge some one can do something like this :
[code]

[2021-07-12 18:43] jingnanshi commented on #104
I agree. I think this should be easy to do. If you submit a PR, I am more than happy to merge it.

[2021-07-12 21:02] MaryAnnZ opened #105 "Issues with Eigen when installing"
Hi, thank you for your code!

I just wanted to report that the installation of Eigen did not work for me as described in the README file.
Im on Ubuntu 16.04 and using apt get I got Eigen version 3.3 (according to apt list) and the archive doesnt seem to include older versions. During configuration I got an error message, that the eigen version is unknown. Even though after removing the version num

[2021-07-13 00:12] jingnanshi commented on #105
Thanks! I will include this in the documentation.

[2021-07-14 16:40] jbalado opened #106 "[BUG] Input data type for Matalb"
I tried to run the example code in matlab with with src = rand(3,5). Same for dst.

src = rand(3,5);;
dst = rand(3,5);

cbar2 = 1;
noise_bound = 0.01;
estimate_scaling = false; % we know there's no scale difference
rot_alg = 0; % use GNC-TLS, set to 1 for FGR
rot_gnc_factor = 1.4;
rot_max_iters = 100;
rot_cost_threshold = 1e-12;

% The MEX function version
[s, R, t, time_taken] = teaser_solve_mex(

[2021-07-17 18:34] jingnanshi commented on #53
Addressed in PR #97 and #107

[2021-07-17 18:34] #53 closed

[2021-07-17 18:35] jingnanshi commented on #55
Closing due to no response. Feel free to reopen if you still have this issue.

[2021-07-17 18:40] jingnanshi commented on #84
Closing due to no response.

[2021-07-17 18:40] #84 closed

[2021-07-17 18:40] #92 closed

[2021-07-17 18:41] jingnanshi commented on #95
Doc fixed in PR #107

[2021-07-17 18:44] #44 closed

[2021-07-17 18:44] #105 closed

[2021-07-17 18:50] #75 closed

[2021-07-17 18:50] #77 closed

[2021-07-21 07:16] houyongkuo opened #109 "[QUESTION]Some Issues about Keypoints"
Thanks for your work. I meet some issues using teaser++.
How do I get the keypoints data? If I want to register my own two data, but I don’t have keypoints, what should I do?
I would be grateful if you could help me figure this out.

[2021-07-21 14:38] jingnanshi commented on #109
Hi @HOUYONGKUO , thank you for your interest. You need to use a feature extractor & matcher to find correspondences. For example, you can use FPFH, or FCGF, or 3DSmoothNet.

[2021-07-22 09:21] WJinhai commented on #106
I want to know How did you compile successfully in Matlab？

[2021-07-22 13:43] jingnanshi commented on #106
Hi @WJinhai @jbalado thanks for your interest. I will take a look at the MATLAB binding.

[2021-07-22 14:59] jbalado commented on #106
Sorry, I didn't say it before, but it's running on linux, a clean install with just the mapping toolbox (and the necessary ones).

[2021-07-25 16:36] wzey opened #110 "[QUESTION]How about results on KITTI"
Hi, TEASER++ is a very helpful work! I learned much from your paper and code. Thank you!

I installed TEASER++ and run example well. I then applied it to a Lidar odometry algorithm. But when I run on KITTI data-set, I met some problems.

(1) From my reading, your API : **solve(src,tgt)** seems need the src point cloud size equals to the tgt point cloud size. I made two point cloud subset of the or

[2021-07-25 21:49] jingnanshi commented on #110
@wzey thank you for your interests!

1. You should understand `src` and `tgt` as corresponding point cloud points. In other words, with different point cloud sizes, you need to use feature matching algorithms to find top matching correspondences, and extract the points into `src` and `tgt`.
2. We didn't personally test on Lidar datasets, but I've read papers that use TEASER++ on KITTI with good pe

[2021-07-26 13:51] jbalado opened #111 "[BUG] Solver killed in teaser++ python"
I ran the code for Minimal Python 3 example for linux and the result was as expected.

I modified the code to read two point clouds (25k points each with partial overlap) and perform the registration. The code reads and saves the parameters, but when I run the solver.solve it crashes and ends up being killed.

How can I fix this?

[code]

[2021-07-26 15:45] jingnanshi commented on #111
@jbalado Thanks for your interest. It's probably crashing due to memory insufficiency. Note that the `src` and `dst` should be viewed as correspondences. In other words, a better way to do what you want to do is to extract corresponding points, then pass those points as Eigen matrices to TEASER++.

[2021-07-27 11:42] jbalado commented on #111
@jingnanshi I tried to applied the same code to both downsampled point clouds (4k points) and I received the following error: Segment violation ('core' generated)

[2021-07-27 16:57] jingnanshi commented on #111
@jbalado Have you tried adding `OMP_NUM_THREADS=12` to your environment: something like `OMP_NUM_THREADS=12 python ./test.py`?

[2021-07-28 22:48] fyang064 commented on #22
The 3dmatch_sample in the example_data is a good example to learn and modify. However, I met some troubles when I tried to generate my own data using the 3DSmooth.
![image](https://user-images.githubusercontent.com/44177668/127405202-0ec89b4f-48b4-4f1b-8804-28afc69ecd44.png)
I assume the "Killed" issue is caused by the exhausted memory but I'm wondering how the author generated the descriptor that

[2021-07-29 04:57] fyang064 commented on #102
I'm curious about your ground truth file. How did you get the gt.log file after running the 3DSmooth generator? Looking forward to hearing from you, thank you!

[2021-07-29 14:28] jingnanshi commented on #102
@fyang064 gt.log comes from the 3DMatch dataset itself.

[2021-07-29 14:30] jingnanshi commented on #22
@fyang064 with feature matching you will have much fewer points left (usually around 500~ from my experience).

[2021-07-30 14:35] jbalado commented on #111
Yes, but the error continues

[2021-07-30 14:40] jingnanshi commented on #111
Please try to compile everything in debug mode, and use `gdb` to locate the exact line at which the program faults.

[2021-08-02 02:06] HOUYONGKUO opened #112 "[ERROR] Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)"
Hi!  When  running  'cmake -DTEASERPP_PYTHON_VERSION=3.6 .. && make teaserpp_python' in cinnamon system, I got the error:
[code]
It is grateful if  you can figure it out. Thanks!

[2021-08-02 03:32] HOUYONGKUO commented on #99
Hi,
I got the same error. Did you fix it ?
The version of pybind11:2.6.1
Thanks.

[2021-08-02 07:33] HOUYONGKUO commented on #112
When I changed to a version of pybind11, it prompted:
`corrupted size vs. prev_size
Aborted (core dumped)
`

[2021-08-03 02:28] HOUYONGKUO commented on #102
Hi！
I also encountered the same problem, have you found the cause of this problem?
Thanks

[2021-08-09 03:14] StrikerCC commented on #76
get the same issue, I set teaserpp_DIR to build directory, but there is no teaserppConfig.cmake or  teaserpp-config.cmake also. I'm wondering how your guys run the Minimal C++ example

[2021-08-12 02:42] HOUYONGKUO commented on #109
If there is no keypoints data, can Teaser++ be used for registration?

[2021-08-12 02:43] jingnanshi commented on #109
@HOUYONGKUO as described in the paper, you can try all-to-all with your input points, but that's only going to work for small point clouds.

[2021-09-01 10:54] zengletian1491 opened #113 "[QUESTION]"
When I ran the examples of TEASERPlusPlus, it worked very well.

However, I used TEASERPlusPlus to calculate the rotation matrix and the translation matrix
between two neighboring parts of an object, however, my c++ code ran well but the
results are like in the following:
terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
Aborted (core dumped)
I guess the par

[2021-09-08 02:33] WJinhai opened #114 "How to run on windows?"
Hello, I want to know how to run this report on windows?

[2021-09-09 13:33] jingnanshi commented on #114
Take a look at this repo: https://github.com/DrGabor/WinTeaser/

[2021-09-09 13:34] jingnanshi commented on #113
It is likely that you run out of memory. TEASER++ takes in correspondences, instead of original point clouds. So you need to use a feature matcher to first select correspondences.

[2021-09-16 18:19] OlfwayAdbayIgbay opened #115 "Support for higher dimensional pointclouds"
**Have you read the documentation?**

- [ x] Yes

Thank you very much for the great paper and code!

I am working with 3D pointclouds which additionally to the spatial coordinates, also have field properties at every point. I would like to model those properties as extra dimensions.

Does either the python or the C++ bindings support point set registration in higher dimensions? If no, how hard (an

[2021-09-21 22:24] jingnanshi commented on #115
Hi @OlfwayAdbayIgbay, thank you for your interests. Unfortunately we don't have plans to include the functionality for higher dimensional point clouds.

[2021-09-24 11:31] bene-yan opened #116 "[QUESTION]Can this method be used for 2d point cloud registration？"
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

I am reading your paper, but **I am anxious to know whether this method can be used for 2D point cloud registration/ICP？**

Looking forward to your reply.

[2021-09-24 18:53] jingnanshi commented on #116
Yes, but we don't have a dedicated 2D solver. You can try manually setting z=0.

[2021-09-25 04:14] bene-yan commented on #116
Thanks a lot! I would try it if i get a chance

[2021-09-30 09:54] liu-qingzhen opened #117 "Scaling seems doesn't work for python"
Hi, TEASER++ works great for same scale point clouds with large outliers.  But for point clouds with large scaling difference, the result seems not very good. I'm not sure if it is because the Python binding does not support scaling? I tuned the parameter estimate_scaling in helpers.py to be True, but the performance seems unchanged.
<img width="743" alt="image" src="https://user-images.githubuser

[2021-10-26 07:41] xiaolongDGitHub opened #118 "the cloudPoint size more than 5000,RobustRegistrationSolver will be collapse"
hi,I compiled teaser on windows and use the cpp example，when the poindCloud size is less than 2000 about, the example is ok  ,have result and output the message,but when I use the cloudPoint size more than 2000,eg 5000,the exmaple will be collapse,see the picture
![企业微信截图_1635233628787](https://user-images.githubusercontent.com/46679084/138831111-afa0caf6-22c9-4eac-b6aa-77acdfdacb78.png)
 ;

[2021-10-28 00:01] #118 closed, assigned to nobody

[2021-11-05 12:03] OlfwayAdbayIgbay commented on #115
Thanks you so much! I've been re-writing some parts of TEASER in python for prototyping, and this code is incredibly helpful! Also, I might be mistaken here, but isn't the C++ code using the Surrogate Geman-McClure distance for rotation rather than the TLS? (see master/teaser/src/registration.cc line 249).

[2021-11-05 15:18] jingnanshi commented on #115
We have both GM and TLS (https://github.com/MIT-SPARK/TEASER-plusplus/blob/d79d0c678b973e052796bc75d3f77025363726d6/teaser/src/registration.cc#L314)

[2021-11-05 16:39] sgrayb opened #119 "[QUESTION] 2D alignment"
I've been using TEASER to align two 2D point clouds.  The results with my datasets are not as expected after running through the demos and seeing how robust TEASER is to noise and outliers.

In the figure below you'll see four point clouds.  The blue is the source point cloud, the red is the target point cloud, yellow is the target after TEASER alignment, and the purple is target alignment using a

[2021-11-05 17:07] jingnanshi commented on #119
Did you pass in the correspondences, or the points?

Currently TEASER++ does not support pure 2D transformation unfortunately.

[2021-11-05 20:33] sgrayb commented on #119
@jingnanshi Thanks for your reply.  I passed in the points.  But now I understand that I need to also pass in correspondences.  I'm building PCL so that I can run the correspondence estimator (teaser::FPFHEstimation).  I'm not sure how well this will work on my relatively sparse point cloud.

In the "TEASER: Fast and Certifiable Point Cloud Registration" in section XI-C there's some discussion abo

[2021-11-06 01:37] jingnanshi commented on #119
Regarding SPC: yes, and it simply requires you to generate the correspondences yourself. The columns with the same index in `src` and `dst` are the corresponding pair of points. So for SPC, you just need to generate for point i, N-1 possible correspondences. And you concatenate all these points together to be an Eigen matrix.

Regarding algorithms: you can always try different ICP algorithms as th

[2021-11-07 10:19] LeoDuhz opened #120 "[QUESTION]Correspondence-free Point Cloud Registeration"
Hi, I am carrying out experiments using TEASER++ on the dataset MVP(Multi-View Partial point cloud) for partial to full registeration. Since there isn't correspondence in advance, we have to generate it ourselves. In your paper, you introduce that all-to-all correspondence. So i downsample the pointcloud A to 44 and the pointcloud B to 63 to generate the 44*64 correspondence, but it takes so long

[2021-11-15 12:47] patsp opened #121 "[QUESTION] License"
Hi, great work!

It seems that the license of the Parallel Maximum Clique (PMC) library (https://github.com/jingnanshi/pmc) used is GPL 3 (https://github.com/jingnanshi/pmc/blob/master/LICENSE.md), right?

Would it therefore be possible to link against and call your TEASER++ library in for example MIT licensed code? Or would a patch with a compile-time switch to enable/disable an alternative maxim

[2021-11-15 15:17] jingnanshi commented on #121
Hi, thanks for the question. The PMC library is only downloaded when you run CMake, so technically the GPL 3 license shouldn't be an issue, as the TEASER++ library itself is MIT license, and it becomes GPL v3 only on your machine. You can do something similar on your MIT licensed project.

[2021-11-15 18:21] patsp commented on #121
Ah, I see, you are right, that makes sense. Thanks for the clarification.

[2021-11-15 18:21] #121 closed

[2021-11-17 13:23] darkdevahm commented on #112
@HOUYONGKUO  I have the same problem as (corrupted size vs. prev_size Aborted (core dumped) ), have you reached a solution for this?

[2021-11-17 14:07] jingnanshi commented on #112
This might be caused by a memory issue --- what example were you running?

[2021-11-17 14:13] darkdevahm commented on #112
I'm running 3D smooth example using: teaser_python_3dsmooth.py
And this is the full message I get:
`(teaser_test) ahmed@ahmed:~/ahmed/code/TEASER-plusplus/examples/teaser_python_3dsmooth$ python teaser_python_3dsmooth.py
==================================================
        TEASER++ Python registration example
==================================================
TEASER++ Parameters are: <Params

[2021-11-22 10:24] HizPhilips opened #122 "[QUESTION] Right-handed or left handed?"
**Have you read the documentation?**

- [x ] Yes
- [] No - then this issue will be closed.

This looks awesome and works on my machine! I just couldn't figure out in the documentation which conventions are used in the rotation matrix. I assume this is using right-handed conventions?

[2021-11-22 10:25] #122 closed

[2021-12-09 10:43] ttsesm opened #123 "[QUESTION] Using teaser for finding the transformation that connects/merges two point clouds"
Hi @jingnanshi,

I've benn using teaser for aligning different point clouds with success. Following the example of using [fpfh+icp](https://github.com/MIT-SPARK/TEASER-plusplus/tree/develop/examples/teaser_python_fpfh_icp) worked quite nicely in my case. Now I wanted to ask whether it would be possible to use the teaser framework to merge two different point clouds. For example look on the two poi

[2021-12-10 03:19] jingnanshi commented on #120
Hi @LeoDuhz , your timing observation is correct. The PC I used is 12 cores with 128 GB RAM. Also, one thing to notice is that the higher the outlier ratio, the sparser the graph will be (hence faster to generate).

I will suggest you look into using a learning-based solution for generating pointwise features. Specifically, consider try PointNet++ or FCGF.

[2021-12-10 03:21] jingnanshi commented on #123
Hi @ttsesm, thank you for your interest. The point clouds you are showing here are unfortunately very difficult to "merge" in the way you want it, as the geometry are a bit repetitive and there might exists multiple possible registration solutions.

Do you have access to any additional information regarding the relative positions between the two point clouds?

[2021-12-10 06:17] #120 closed

[2021-12-10 08:08] happyfrank opened #124 "Is it possible to use an initialized rotation matrix to optimize rotation and translation?"
Thanks for your code and paper. It is very good.I have a question.
I have initialized rotation matrix(about 1~4 degree error) and correspondences.
Is it possible to use those messages to get a more accurate rotation matrix and correct translation matrix?

[2021-12-10 15:42] jingnanshi commented on #124
No. If you already have an initialized rotation matrix, then perhaps using an ICP-variant is better.

[2021-12-10 17:06] ttsesm commented on #123
It is true that there are multiple registration solutions, however from the example I can see that the correspondence points are kind of pointing to the correct side. Plus if I isolate the area that the two point clouds seem to merge I can see that the points and the geometry structure that they create is completing each other:
![image](https://user-images.githubusercontent.com/10189018/145612991-

[2021-12-10 17:18] jingnanshi commented on #123
Very interesting. Usually in the existing works of point cloud registration, people find correspondences from the same points in two scans (i.e., there are overlapping regions in the two point clouds). However, in your case you are actually looking for correspondences that make the scans fit like a jigsaw puzzle. I am not confident that existing hand-crafted feature extractors will work well, give

[2021-12-13 01:05] happyfrank commented on #124
@jingnanshi That's allright, 非常感谢 0.0

[2021-12-13 01:05] #124 closed

[2021-12-15 17:36] analog-cbarber commented on #121
Note that the license would be an issue if you were to build a conda or pip distribution that included the pmc component!

[2021-12-15 17:37] analog-cbarber commented on #78
Note that due to the dependency on the pmc library which has a GPL3 license, the resulting pip package will also have to have a GPL3 license...

[2021-12-15 17:58] analog-cbarber commented on #121
Really, the MIT license is a bit misleading, because once you compile this code, the binary would fall under the GPL.

I wonder if the PMC author would be open to relaxing his license?

[2021-12-15 18:36] jingnanshi commented on #121
I messaged the author a few times and he hasn't given me a response. A while ago I started looking into a reimplementation but unfortunately didn't have enough time to carry it forward.

[2021-12-16 01:03] jackjansen commented on #78
@nachoreimat do you think you could help with creating a PyPI package?

[2022-01-26 19:59] rttariverdi67 commented on #72
dear @IDEA-V
could you please explain how you encoded .ply file in ASCII instead of binary and removed the color information?

I do as follows but while reading .py file (encoded), I got the error:
```[Open3D WARNING] Read PLY failed: number of vertex <= 0.```

```from plyfile import PlyData, PlyElement```
[code]

[2022-02-02 22:32] Pale-cream commented on #102
此问题现在依然无法解决

[2022-02-04 02:32] #102 closed

[2022-02-18 15:51] liu-qingzhen commented on #117
The result of the model will return the scale. I forgot the code but the scale can be derived from result.s as well as the rotation and translation (result.T).

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: ttsesm ***@***.***>
Sent: Friday, February 18, 2022 10:02:02 PM
To: MIT-SPARK/TEASER-plusplus ***@***.***>
Cc: Liu Qingzhen ***@***.***>; Mention ***@**

[2022-02-18 22:00] ttsesm commented on #117
Sure it returns an `s` value, however it is not correct. When the scaling ratio between the two pcds is quite big, it fails to address the registration and the scaling value doesn't really help much.

In any case, thank you for your time.

[2022-02-19 18:40] liu-qingzhen commented on #117
Yeah, they said it is because of the feature extraction with fpfh is not accurate. The scale estimation model makes sense, but the performance is not good with traditional feature descriptor.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: ttsesm ***@***.***>
Sent: Saturday, February 19, 2022 6:00:42 AM
To: MIT-SPARK/TEASER-plusplus ***@***.***>
Cc: Liu Qing

[2022-02-20 17:04] benmatok opened #126 "[QUESTION] drs certification range"
**Have you read the documentation?**

- [x] Yes

Hi, I am testing the drs certification using python and getting large values (1-4).
I tested it on both test data (bunny)
and my own data.

I saw in the paper and  in the code that the range should be in 0.001 range.
I am also seeing that there is no real correlation between these values and actual error.

what certification value range is actually

[2022-02-21 08:50] ttsesm commented on #117
I see, did you test with an alternative feature descriptor, other than the fpfh, to see whether it performs better?

[2022-02-22 16:23] #123 closed

[2022-02-22 16:23] #119 closed

[2022-02-22 16:25] jingnanshi commented on #117
@ttsesm FPFH is not designed to be scale-invariant (see the original paper). Maybe try this: https://link.springer.com/article/10.1007/s00521-017-2964-1?

[2022-03-02 04:46] zikai1 opened #127 "Must I use FPFH first?"
**Have you read the documentation?**

- [ *]  Yes

- [ ] No - then this issue will be closed.

Hi Jingnan,
  thanks for the excellent work. I have compiled the code and successfully run it. I find in the directory **examples**, there are three test cases. The first is based on the TLS without point features: **teaser_python_ply** and **teaser_cpp_ply**, the second is based on the FPFH feature: **t

[2022-03-02 14:31] jingnanshi commented on #127
No, you can use any feature detector you want. The solve() function just takes in corresponding points as two matrices. The certifier currently only have the C++ API, so you might need to use C++.

[2022-03-03 02:33] zikai1 commented on #127
Hi Jingnan,
thanks for your reply. If I directly input two point clouds without feature, also without advanced correspondence, like the simplest ICP, can I still get certible results? Thanks.

[2022-03-03 18:06] #115 closed

[2022-03-03 18:06] #110 closed

[2022-03-04 00:29] zikai1 commented on #127
Hi Jingnan,
Thanks. I know how to produce good registration results. Thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "MIT-SPARK/TEASER-plusplus"                                                                                    ***@***.***&gt;;
发送时间

[2022-03-04 01:40] jingnanshi commented on #127
Thank you for your interest! Closing this issue now.

[2022-03-04 01:40] #127 closed

[2022-03-08 20:32] ljjTYJR commented on #102
One possibility is that the _open3d_ is not compatible.
Try:
`conda uninstall open3d`  # uninstall old open3d
and
`conda install -c open3d-admin open3d=0.10.0`

Then try again.

[2022-03-17 10:44] fdila commented on #54
Does anyone know a workaround for the python binding?
I have tried setting ```os.environ['OMP_NUM_THREADS'] = "12"``` but I still run into segmentation faults.

[2022-03-22 02:28] SubMishMar commented on #96
Where can I set `OMP_NUM_THREADS=12`, for me 20 tests fail.
![Screenshot from 2022-03-21 21-28-16](https://user-images.githubusercontent.com/28704031/159395820-a7baa4f8-ca18-4bd9-ba4b-433d439971aa.png)
`

[2022-05-08 10:45] AndreiCostinescu opened #129 "[BUG] Memory release errors during solving"
**Describe the bug**
I get memory allocation errors from the ```solver.solve(x, y)``` function (```munmap_chunk(): invalid pointer``` or ```double free or corruption (out)``` or ```free(): invalid size```) when running a simple registration example (code and data attached, see To Reproduce section).

**Have you run the unit tests?**
Test project /usr/local/src/TEASER-plusplus/build-release
      S

[2022-05-12 09:43] zener90818 opened #130 "[QUESTION] test on my own datasets, registration failed"
Thanks for your work. I try the code(WinTeaser version) on my own datasets which is collected from the realsense device(D415),
the FPFH features are used in the test, here the results, registration failed,  can you tell me how to adapt the code on my own datasets, what's the main parameters which need to be adjusted for the point cloud data of different quality. thansk a lot.
<img width="711" alt=

[2022-05-13 18:55] jingnanshi commented on #130
What feature extraction algorithm did you use?

[2022-05-14 11:47] zener90818 commented on #130
the FPFH features are used.
![微信截图_20220514194405](https://user-images.githubusercontent.com/38679014/168424248-831547ed-6976-4a5e-b6ad-c004db58cf81.png)

[2022-05-14 17:23] jingnanshi commented on #130
Can you try registering your source with itself using FPFH features?

[2022-05-15 12:43] zener90818 commented on #130
I have tried two different way to register.
(1) From source to itself, registration success,
![捕获3](https://user-images.githubusercontent.com/38679014/168473163-2c019243-e549-49b4-8fad-44b62548075d.PNG)
(2) from source to itself  which is applied with a random rotation and translation matrix,  registration failed,
![捕获](https://user-images.githubusercontent.com/38679014/168473469-95fe0f8d-3da5-41b

[2022-05-15 18:22] jingnanshi commented on #130
Do you mind posting the entire code snippet you used for doing the self-registration experiment? My guess is the correspondence-matching part is causing this issue.

[2022-05-16 02:08] kaitaotang commented on #54
this reply works well for me. Thank you

[2022-05-16 02:09] kaitaotang commented on #54
this reply works well for me. Thank you

[2022-05-19 07:07] G-rookie commented on #102
@yukailin-git Hi！
I also encountered the same problem, have you found the cause of this problem and do you know how to solve it ?
I hope you can give me a hand ,Thank you !

[2022-05-24 05:34] nottoday0927 opened #131 "[BUG] When I run teaser_cpp_fpfh example,I run into this problem"
Thanks for your work.!!!I followed the steps to compile Python binding, everything went well, but when I run teaser_python_ply.py or other examples, the following error appears, how can I solve it?

**Describe the bug**
ModuleNotFoundError: No module named 'teaserpp_python.teaserpp_python'

**Have you run the unit tests?**

- [ ] Yes

**Installed Dependencies**
ubuntu 20.01

**To Reproduce**
(teas

[2022-05-25 03:28] gitouni commented on #131
Have you build your teaserpp_python module with pybind11?

[2022-05-25 03:28] gitouni commented on #131
Have you build your teaserpp_python module with pybind11?

[2022-05-25 05:22] gitouni opened #132 "[BUG] Seg Fault when testing on my own dataset"
**Describe the bug**
Seg Fault Error when testing for more than 30 samples.

**Have you run the unit tests?**

- [x] Yes
- [ ] No --- then this issue will be closed.

**Installed Dependencies**
Ubuntu 20.04. I have install all dependecies of teaserpp for python and examples can be run without error.

**To Reproduce**
I use FPFH to build correspondence and TEASER++ for global registration. However,

[2022-05-27 09:26] lidonghui-ai commented on #129
Have you solved this bug yet?
The same bug was encountered

[2022-05-27 09:33] AndreiCostinescu commented on #129
No, this is still an active issue for me...

[2022-05-28 02:08] lidonghui-ai commented on #129
Hi，I have solve it by setting the environment variable OMP_NUM_THREADS=12.
export OMP_NUM_THREADS=12

[2022-05-28 02:08] lidonghui-ai commented on #129
Hi，I have solve it by setting the environment variable OMP_NUM_THREADS=12.
export OMP_NUM_THREADS=12

[2022-05-28 02:11] lidonghui-ai commented on #129
see issue https://github.com/MIT-SPARK/TEASER-plusplus/issues/54#issuecomment-829305428 for details.

[2022-06-03 06:48] 21Ansh opened #133 "[BUG] Open3d feature visualization"
**Describe the bug**
While running the example teaser_python_3dsmooth visualize_correspondences function is not displaying the correspondences properly.

**Have you run the unit tests?**

- [ X] Yes

**Installed Dependencies**
Ubuntu20.04, no cuda, and opend3d 0.15.2 is installed.

**To Reproduce**
Please post the exact steps you executed to reproduce the bug.

**Additional context**
OMP_NUM_THREA

[2022-06-15 02:05] gitouni commented on #54
Actually, setting `OMP_NUM_THREADS` through `os.environ()` function does not work. May be the reason is PMC is built through cpp that binds to python and `os.environ` dosen't pass this environment parameter to PMC. The solution is that:

[code]

[2022-06-15 02:09] gitouni commented on #132
see https://github.com/MIT-SPARK/TEASER-plusplus/issues/54#issuecomment-1070777676 first.
Setting `OMP_NUM_THREADS` through `os.environ` does not work. However, setting `OMP_NUM_THREADS` through bash can fix this problem.

[code]

Maybe the reason is PMC module is complied in cpp and bind to python, so that `os.environ` cannot pass this parameter to inner cpp solver.

[2022-06-15 02:09] #132 closed

[2022-06-15 07:16] nottoday0927 commented on #131
Thank you for answering patiently！ I have solved the problem

[2022-06-15 07:16] #131 closed

[2022-06-26 16:10] cclaan opened #134 "[QUESTION] Translation only alignment?"
**Have you read the documentation?**

- [x] Yes
- [] No

Hi, for the case of 3dof translation point cloud alignment, are there modifications to teaser that would improve speed / accuracy over just running the full rotation/scale/translation steps?
Thanks

[2022-06-29 13:41] WulongGuo opened #135 "[QUESTION] How to set OMP_NUM_THREADS=12 for Matlab in Ubuntu"
**Have you read the documentation?**

- [ ] Yes
- [x] No - then this issue will be closed.

Post your theoretical questions / usage questions here.
Dear author,
Thank you for your code.
I know how to set OMP_NUM_THREADS=12 in a C++ code, and it surely will avoid the PMC crash problem. Now I want to use teaser++ in matlab with the matlab bindings. is there a way to set OMP_NUM_THREADS=12 for matlab

[2022-07-01 14:44] jingnanshi commented on #134
You should be able to just run the translation estimator, although you need to take a look into the implementation as we don't have an existing API for translation only estimation.

[2022-07-01 20:37] cclaan commented on #134
Thanks,
I did take a look at the translation estimation step, but it looked like the point clouds had already been pruned from the rotation / scale parts that use the correspondences. There was no way to pass correspondences directly to the translation step.

[2022-07-03 03:11] jingnanshi commented on #135
Try the latest develop branch. I fixed the issue with thread count issue so you don't have to set the environment variable. Make sure to clean all the CMake build folders, reload CMake project and rebuild.

[2022-07-03 08:57] WulongGuo commented on #135
Thank you! I am not sure if I build it right or not, but when the number of points gets over 10000, Matlab would  crash. I will use the C++ code, it works good for me. Thanks again.

[2022-07-04 15:52] jingnanshi commented on #135
Yes due to the implementation the memory consumption will be large with high number of points/correspondences.

[2022-07-04 15:53] jingnanshi commented on #129
@AndreiCostinescu @lidonghui-ai In the latest commit to the `develop` branch I have fixed this issue. Now you should be able to run it without setting the environmental variable. Please let me know if you run into any more issues.

[2022-07-05 18:07] cclaan commented on #134
Thanks I will dig in a bit further

[2022-07-05 18:07] #134 closed

[2022-07-08 21:57] jingnanshi commented on #54
@fdila sorry for the late response, but I have fixed the seg fault issue caused by mis-allocating lists by using the incorrect number of threads in my fork of the PMC library. In addition, after each solve, you need to call `reset()` on the solver before running again.

[2022-07-12 08:52] MasterLei9527 opened #138 "CTest error"
When I run CTest, some errors has occurred in 18,44,46;
I use OMP_NUM_THREADS=12;
There still take error in 44,46
 96% tests passed, 2 tests failed out of 52

Total Test time (real) =  23.93 sec

The following tests FAILED:
	 44 - FPFHTest.CalculateFPFHFeaturesWithTeaserInterface (Failed)
	 46 - FPFHMatcherTest.MatchCase1 (Failed)
Errors while running CTest

How should I solve it? Thank you

[2022-07-13 00:59] jingnanshi commented on #138
Can you try in the latest develop branch without using OMP_NUM_THREADS=12? Thanks.

[2022-07-16 06:48] #138 closed

[2022-07-21 08:54] HarborC opened #139 "[QUESTION] The result is not ideal in the example teaser_cpp_fpfh"
**Have you read the documentation?**

- [x] Yes
- [] No - then this issue will be closed.

Post your theoretical questions / usage questions here.
![image](https://user-images.githubusercontent.com/28862505/180172638-0282e379-06b8-4991-b9b3-e45ac4cefba4.png)

Thank you for your excellent open source work. I have a question for you. I tried to run the example teaser_cpp_fpfh  and found that the res

[2022-08-09 06:07] patsp opened #140 "CMAKE_CXX_STANDARD is set to 14 but [[nodiscard]] is a C++17 feature"
Hi, I noticed a minor inconsistency in the build.

In the `CMakeLists.txt`, CMAKE_CXX_STANDARD is set to 14:

https://github.com/MIT-SPARK/TEASER-plusplus/blob/111e2ce81aa8c25fad66fcd1feecb758e1c76281/CMakeLists.txt#L4

But in `graph.h`, `[[nodiscard]]`, which is a C++17 feature (https://en.cppreference.com/w/cpp/language/attributes/nodiscard), is used for example here:

https://github.com/MIT-SPA

[2022-08-19 12:24] stephen9999999 opened #141 "[QUESTION]Inconsistent results between c++ and python implementation"
**Have you read the documentation?**

- Yes

Post your theoretical questions / usage questions here.

Hi, thanks for your great work.
I have test teaser_cpp_fpfh and teaser_python_fpfh_icp with the same pcd files, but the results are inconsistent. Is there any difference of this two implementation?

For teaser_python_fpfh_icp, I test the algorithm with two pcd files collected by myself. And I get

[2022-08-19 14:23] jingnanshi commented on #140
Thanks for reporting this. I will likely remove `[[nodiscard]]` from the code.

[2022-08-19 14:24] jingnanshi commented on #141
Make sure in the C++ implementation to call reset after every solve using the solver.

[2022-08-20 01:56] stephen9999999 commented on #141
Thanks for your reply.
In the demo teaser_cpp_fpfh.cc, the solver is called only once. I input tow pcd files, and use the solver to calculate the transform of the two point cloud.
I follow your suggestion and call reset after every solve

![2022-08-20 09-53-44 的屏幕截图](https://user-images.githubusercontent.com/105863329/185724799-92feb0cc-bc35-456e-90e9-d1dc43782627.png)

but I get an error: "error:

[2022-08-20 02:01] stephen9999999 commented on #139
Same problem. have you solved it?

[2022-08-21 01:44] jingnanshi commented on #141
See this line: https://github.com/MIT-SPARK/TEASER-plusplus/blob/111e2ce81aa8c25fad66fcd1feecb758e1c76281/teaser/include/teaser/registration.h#L738

Can you also try using `solve(src_correspondences, tgt_correspondences)` instead of passing the correspondences in separately? Basically just make sure the columns of `src_correspondences` and `tgt_correspondences` are corresponding 3D points.

[2022-08-30 00:26] manuelli opened #142 "[QUESTION]"
**Have you read the documentation?**

- [x] Yes

Is there a way to access the `valid` field of `RegistrationResult` from python? It seems that in `python` the returned `result` doesn't have the field `valid.` Additionally is there a way to access the underlying certificate (or lack thereof) or check the max inlier clique size from python?

Thanks,

Lucas

[2022-09-01 09:12] hiyyg opened #143 "[QUESTION] How to suppress the too many DEBUG current mc logs?"
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

Post your theoretical questions / usage questions here.

[2022-09-01 16:13] jingnanshi commented on #142
Hi @manuelli
1. You are right that the field `valid` is not present in the Python binding. I can add that to the binding for you.
2. Max inlier clique size can be accessed from `getInlierMaxClique` method on the solver.
3. You need to run the certifier separately.

Let me know if you have additional questions.

[2022-09-05 13:57] gitouni opened #144 "[BUG] scale estimation cannot be forbiddened in python"
**Describe the bug**
A clear and concise description of what the bug is.

**Have you run the unit tests?**

- [x] Yes
- [ ] No --- then this issue will be closed.

I have passed estimated_scale=False to teaser solver but it solves scale estimation still.

**To Reproduce**
Teaser++ solver class:
[code]
TEASER++ solver use:
[code]
some output are shown as follows:
[code]

**Additional context**
Some

[2022-09-07 20:50] adam-muk opened #145 "[BUG] The following imported targets are referenced, but are missing: tinyply pmc::pmc"
**Describe the bug**
CMake Error at CMakeLists.txt:7 (find_package):
  Found package configuration file:

    /usr/local/lib/cmake/teaserpp/teaserppConfig.cmake

  but it set teaserpp_FOUND to FALSE so package "teaserpp" is considered to
  be NOT FOUND.  Reason given by package:

  The following imported targets are referenced, but are missing: tinyply
  pmc::pmc

**Have you run the unit tests?**

[2022-09-16 10:48] Scyten opened #146 "[QUESTION] Is it possible to disable scaling and rotation estimation?"
**Have you read the documentation?**

- [x] Yes
- [] No - then this issue will be closed.

I have a time critical problem and need only the translation estimation, rotation is 0 and scaling is 1.

Is there a way to disable the scaling estimation?
The documentation and the registration.h answer `params.estimate_scaling = false`, but if i am right this variable is not checked by the `solve` method a

[2022-10-02 05:09] SEUZTh commented on #143
I have the same problem.

[2022-10-02 16:19] pahoffmann opened #147 "[QUESTION] Why does the teaser-plusplus FPFH example yield this kind of results?"
**Have you read the documentation?**

- [x] Yes
- [] No - then this issue will be closed.

Post your theoretical questions / usage questions here.

Some background to my question:
I am currently investigating loop closure's in a graph based SLAM and need to do a scan-matching between two laserscans.
I want to use teaser-plusplus to produce a good initial estimate between the scans and apply a post

[2022-10-02 18:53] pahoffmann opened #148 "[BUG] (Copy) Why does the teaser-plusplus FPFH example yield this kind of results?"
**Describe the bug**

The FPFH example produces results, which are off the expected results by almost 100%.
Though there are ~2000 descriptors for each of the pointclouds, only 3 correspondences were found
by the matcher (which seems to be the actual problem here on first glance).

**Have you run the unit tests?**

- [x] Yes
- [] No --- then this issue will be closed.

**Installed Dependencies**
P

[2022-10-02 19:33] #142 closed

[2022-10-02 19:33] #148 closed

[2022-10-02 19:34] jingnanshi commented on #147
@pahoffmann Which branch did you run the code on?

[2022-10-02 19:36] pahoffmann commented on #147
On the master branch! should i use the develop instead?

[2022-10-02 19:38] jingnanshi commented on #147
Please try the develop again. A while ago I remember I updated a few things regarding FPFH on develop. I'm also looking into this right now. Also, please run `ctest` to run all unit tests to ensure everything passes (on develop). Thanks!

[2022-10-02 19:39] pahoffmann commented on #147
On it!

[2022-10-02 19:45] pahoffmann commented on #147
@jingnanshi
I just completely rebuild based on the develop and actually a lot of unit tests fail:

The following tests FAILED:
	 15 - RegistrationTest.LargeModel (SEGFAULT)
	 16 - RegistrationTest.LargeModelSingleThreaded (SEGFAULT)
	 17 - RegistrationTest.SolveForScale (SEGFAULT)
	 18 - RegistrationTest.SolveForRotation (SEGFAULT)
	 19 - RegistrationTest.SolveRegistrationProblemDecoupled (Child a

[2022-10-02 20:34] pahoffmann commented on #147
On master, all the tests pass without any problem.

[2022-10-02 21:24] jingnanshi commented on #143
@SEUZTh @hiyyg This issue has been fixed in my fork of the PMC library. Please delete the downloaded PMC library (or removing `build` folder entirely), rerun CMake and compile again. Alternatively, if you want the messages back, pass in `-DPMC_ENABLE_DEBUG` as additional compiler flags to CMake.

[2022-10-02 22:00] jingnanshi commented on #147
Can you check what commit the PMC library downloaded by CMake is? Also, try run ctest with 'OMP_NUM_THREADS=12 ctest'

[2022-10-02 22:01] jingnanshi commented on #145
@adam-muk During which step did you encounter the error message posted? Thanks.

[2022-10-02 22:05] jingnanshi commented on #126
Hi @benmatok sorry for the late response. Do you mind share your certification script? That part of the code wasn't as thoroughly tested so it's possible that we made a mistake when porting it from MATLAB to C++.

[2022-10-02 22:16] jingnanshi commented on #146
@Scyten Hi, the scale estimation option will disable the scale solver, but it will still try to filter out outliers using scale. Unfortunately we don't have a way to disable rotation. If you use the estimate translation function directly, it will still have inlier selection based on TLD cost.

[2022-10-02 22:18] jingnanshi commented on #146
Alternatively, if all you need are translations, perhaps writing a custom solver with the max clique outlier rejection will be a better option.

[2022-10-02 22:29] pahoffmann commented on #147
The PMC Library (pmc-src) is up to date with It's master branch. Running the tests with above commands yields the same errors.

[2022-10-03 00:01] jingnanshi commented on #144
@gitouni Hi, sorry for the confusion. If you disable scale estimation in the params, the solver won't estimate scale. However, it will still use scale as a method to remove outliers. That part might take some time, especially given many correspondences.

[2022-10-03 03:10] jingnanshi commented on #147
Updates on this issue: I can reproduce the issue with the FPFH example. I suspect the issue was introduced when I changed the FPFH class to use the PCL's multi-threaded implementation. `teaser_cpp_ply` example works fine so the problem is limited in the feature matcher.

[2022-10-03 03:11] jingnanshi commented on #147
I cannot seem to reproduce the seg-faults in the unit tests, however.

[2022-10-03 09:43] gitouni commented on #144
Thank you for your reply, it becomes more explanable and compatibale to the paper.

[2022-10-03 10:08] pahoffmann commented on #147
Thank you so much for looking into this!

I am gonna look into the feature matching today.

[2022-10-03 10:13] pahoffmann commented on #147
Those segfaults are giving me an headache. What key differences are there between master and develop?
Just overall more parallelized? Or actually some extensive changes in the algorithms?

[2022-10-09 13:03] adam-muk commented on #145
Hi,

Sorry for the delayed response. I reinstalled ubuntu and now I do not get the error anymore. I am not sure what the problem was :/

[2022-10-09 13:03] #145 closed

[2022-10-13 13:22] hiyyg commented on #55
Have the same issue. How to solve this problem? @RiccardoGiubilato

[2022-10-13 13:23] jingnanshi commented on #55
@hiyyg Do you mind pose all the error messages? Also if possible, please share the data.

[2022-10-13 13:26] hiyyg commented on #55
@jingnanshi I faced with this bug with a different program. But I think the root cause should be the same.

[2022-10-22 02:06] weterking opened #150 "[QUESTION] the program is running so slow！！！！"
I have read the docs and papers but I still don't know why the program is running so slow

![274}TN)BV_9HLEUESZANFMG](https://user-images.githubusercontent.com/35229878/197313274-0ce42333-a43d-4192-b1ae-fe0ac9947142.png)
This is my changed code, the S,T point cloud is processed by myself, the size is 10240
`
// An example showing TEASER++ registration with the Stanford bunny model
#include <chrono

[2022-10-22 03:05] weterking commented on #150
This is the point cloud file I use
链接：https://pan.baidu.com/s/1h3f3R6hYZ6y6u-jPRXaESg
提取码：1024

[2022-10-22 14:12] jingnanshi commented on #150
Given the point cloud, you need to first obtain correspondences first, then feed the correspondences to the solver (around 100 to 500 correspondences will work well). Judging from the terminal output, the compatibility graph is large and dense, hence the max clique solver is slow. In addition, in cases with low outlier ratio, TEASER++ will take longer than those with high outlier ratio, due to the

[2022-10-23 13:02] weterking commented on #150
I'm sorry to take your precious time, maybe my question is more basic, (1) I want to confirm whether teaser_cpp_ply can calculate the corresponding point; (2) What is compatibility graph? Your paper does not seem to have this word; (3) Why is it in the distance slower with low outlier rate, which seems counter-intuitivecounter-intuitiv

[2022-10-23 18:54] jingnanshi commented on #150
No. You need to use a NN to estimate the correspondences.

It's the graph generated from TIMs.

Because the maximum clique solver is the fastest on sparse graphs.

[2022-10-25 08:37] weterking commented on #150
I wonder if NN refers to neural network？

[2022-10-25 12:37] weterking commented on #150
I looked at the code teaser_cpp_fpfh.cc and teaser_cpp_ply.cc, for the addNoiseAndOutliers（） function
`
void addNoiseAndOutliers(Eigen::Matrix<double, 3, Eigen::Dynamic>& tgt) {
  // Add uniform noise
  Eigen::Matrix<double, 3, Eigen::Dynamic> noise =
      Eigen::Matrix<double, 3, Eigen::Dynamic>::Random(3, tgt.cols()) * NOISE_BOUND;
  NOISE_BOUND / 2;
  tgt = tgt + noise;

`
Among them, the vari

[2022-10-25 13:14] weterking commented on #150
![face_10240](https://user-images.githubusercontent.com/35229878/197780954-924c9c5f-22f5-4b86-b295-ccbed4bfca31.png)
I used teaser_cpp_fpfh to test the same data set I uploaded before. I found that the error of the rotation matrix is ​​acceptable, but the error of the translation vector is relatively large. Is this a disadvantage of the algorithm? I guess that when the error of the rotation matrix

[2022-10-25 13:39] jingnanshi commented on #150
Yes.

[2022-10-25 13:40] jingnanshi commented on #150
There's some issue with the included FPFH estimator. I recommend using Open3D's FPFH features and use the python binding.

[2022-10-26 13:20] weterking commented on #150
You don't seem to see this question, looking forward to answering it in your free time

[2022-10-27 14:19] weterking commented on #150
According to your suggestion, I abandoned the FPFH feature, used the work of my lab for feature extraction, and used SVD  and TEASER to test under the same corresponding point, the results are as follows, SVD is not as good as TEASER in terms of rotation, but SVD is not as good in terms of translation. The results are far superior to TEASER.
SVD
![image](https://user-images.githubusercontent.com/3

[2022-10-27 19:52] jingnanshi commented on #147
@pahoffmann If you are still working on this, do you mind try this branch's FPFH example: https://github.com/MIT-SPARK/TEASER-plusplus/tree/bugfix/examples ? Thanks!

[2022-10-28 02:53] weterking commented on #150
There is a problem, your noise bound originally wanted to use noise_bound /=2；, but it was used as noise_bound /2；.The noise bound is not getting smaller. According to intuition, the noise boundary should become looser.

Even I see your latest code, you define noise_bound as 0.001（Originally 0.05）, isn't this the tighter bound?

The original noise bound was 0.05, and I expanded him 4 times.
This i

[2022-10-29 01:48] weterking commented on #150
What you mean is that my data needs a looser boundary?
But I quadrupled the bound and the effect got worse。

[2022-10-29 01:59] jingnanshi commented on #150
The larger the bound, TEASER++ will behave more similar to a solution obtained with SVD, as the GNC will essentially terminate at the first iteration. You can also try to estimate the ground truth outlier ratio here, by essentially calculating how many correspondences are close enough after ground truth rotation and translation, and see whether TEASER++ is selecting the correct inliers. If TEASER+

[2022-11-04 14:33] RyanAnvie opened #151 "[QUESTION] Feature points selection."
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

Post your theoretical questions / usage questions here.

Hi can you explain a little bit explain how you select feature points for registration or are you using entire inlier points to match the two-point sets?

[2022-11-09 03:23] weterking commented on #151
Although I am not the author, but I read the source code, the author seems to be using the FGR method of selecting corresponding points, using the corresponding points initially selected by FGR to perform TEASER

[2022-11-09 15:44] jingnanshi commented on #151
@RyanAnvie Thanks for your interest. @weterking is correct, the matching code is based on FGR. However, the matcher implemented in this repo is not actually used in the paper. The matcher in this repo is served as a general method for users. For the original paper, we just used a k-NN tree to match feature correspondences (based on 3DSmoothNet).

[2022-11-11 11:56] surajiitd commented on #19
@prajval10 How did you downsampled the pointclouds. just skipping alternate points will work??

[2022-11-12 18:12] jingnanshi commented on #19
@surajiitd Thank you for your interest. You can either down sample the point clouds using Open3D's various methods, or use a feature extractor to select salient keypoints (hence it's implicitly conducting downsampling).

[2022-11-12 18:21] surajiitd commented on #19
thans for your replu @jingnanshi .
I was downsampling kitti pointcloud and registering. but it needs **huge** downsampling (like from 120000 points to just 2000 points).. what if I want to work without downsampling... I was getting badalloc error while doing without downsampling.

[2022-11-15 23:04] nepfaff opened #153 "[QUESTION] Scale-invariant feature descriptors"
**Have you read the documentation?**

- [x] Yes
- [ ] No - then this issue will be closed.

Does anyone know a good open-source scale-invariant feature descriptor for point clouds? Neither FPFH nor 3DSmoothNet are scale-invariant.

[2022-11-19 11:54] PANFEI-CHENG opened #154 "when i run"cmake .. -DBUILD_TEASER_FPFH=ON && make",an error occurred."
CMake Error at CMakeLists.txt:62 (get_target_property):
  get_target_property() called with non-existent target "pcl_common".

[2022-11-21 01:54] ericahellscythe opened #155 "[QUESTION] Teaser++ FPFH using own dataset"
**Have you read the documentation?**

- [x] Yes

=======================================================================================================
I was trying out the FPFH example and the example worked fine. However, when I swapped the example ply file with my own RGBD images, the result was terrible.

I converted my RGBD image into a point cloud and visualized it by publishing the results

[2022-11-25 20:15] LemonPi opened #156 "[BUG] Problem Building Python Bindings"
**Describe the bug**
Following the minimal python readme steps exactly, I'm getting the following error when trying to run the example:
[code]

I've built the c++ version and it works fine on the example, and in the output after `cmake ...` I see that python bindings have been built:
[code]

I've also read the previous related issues #131 and #92

**Installed Dependencies**
Ubuntu 20.04
cmake vers

[2022-11-28 13:22] ylllllll commented on #99
there is a ";" in examples/teaser_python_3dsmooth/teaser_python_3dsmooth.py 112， delete it.